body {background-color:#450007;border-top:3px solid #871000;}
h1 {color:#521500;}
p {color:#1B0600;}
a {color:#871000;}
#site-title a {color:#521500;}
.pagination .current {color:#871000;background-color:#450007;}
#content {background-color:#B34700;}
#primary-nav { background:#C77E1F;border-bottom: 6px solid #fff}
#primary-nav ul {border-left:solid 6px #fff;border-right:solid 6px #fff;padding-top:6px;}
#primary-nav a {background:#C77E1F;border-bottom:6px solid #C77E1F;}
#primary-nav li.current a {border-bottom: 6px solid #fff;}
#primary-nav a:hover {border-bottom:6px solid #fff;}

/* Background-color: #fff */
#header,
#content-container,
.field .textinput, 
.field select {background:#fff;}

/* Color: #fff */
#primary-nav a,
#footer p {color:#fff;}

/* Background: #EAA300 */
#secondary-nav .current a,
#secondary-nav a.current,
.exhibit-section-nav .current a,
.exhibit-page-nav .current {background:#EAA300;}

/* Color: #1B0600 */
.item-description,
.element-text,
.element-text-empty,
.title-list li,
#primary #search {color:#1B0600;}

/* Border-bottom: 2px solid #871000 */
#items.browse .item,
#recent-items .item,
#items.show .element,
#exhibits .exhibit,
.collection
.title-list {border-bottom:2px solid #871000;}

/* Border-bottom: 1px solid #871000 */

#footer {border-top: 6px solid #fff;background-color:#450007;}
#footer a {color:#C77E1F;}

.simple-pages-navigation a:link,
.simple-pages-navigation a:visited {
    color: #871000;
}

.simple-pages-navigation a:hover,
.simple-pages-navigation a:active {
    background: rgba(0,0,0,0.025);
    color: #521500;
}

.simple-pages-navigation li.current a {
    background: rgba(0,0,0,0.05);
    color: #521500; 
}