/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* ---------------------------------------------------------------------*/
/* Winter colors */
/* ---------------------------------------------------------------------*/
/* Spring colors */
/* ---------------------------------------------------------------------*/
/* Summer colors */
/* ---------------------------------------------------------------------*/
/* Autumn colors */
@media screen {
  /* -------------------------------------------------------------------------*/
  /* Layout */
  /* line 4, ../sass/_screen.scss */
  .container {
    *zoom: 1;
    max-width: 34em;
    _width: 34em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
  }
  /* line 38, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .container:after {
    content: "";
    display: table;
    clear: both;
  }

  /* -------------------------------------------------------------------------*/
  /* == Generic == */
  /* line 11, ../sass/_screen.scss */
  body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    word-wrap: break-word;
    height: 100%;
  }

  /* line 20, ../sass/_screen.scss */
  a {
    text-decoration: none;
  }

  /* -- Headings -- */
  /* line 24, ../sass/_screen.scss */
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5em;
  }

  /* line 26, ../sass/_screen.scss */
  h1 {
    font-size: 32px;
    line-height: 48px;
  }

  /* line 31, ../sass/_screen.scss */
  h2 {
    font-size: 24px;
    line-height: 36px;
  }

  /* line 36, ../sass/_screen.scss */
  h3 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
  }

  /* line 42, ../sass/_screen.scss */
  h4 {
    font-size: 18px;
    line-height: 27px;
  }

  /* line 47, ../sass/_screen.scss */
  h5, h6 {
    font-size: 16px;
    line-height: 24px;
  }

  /* -- Form Elements -- */
  /* line 54, ../sass/_screen.scss */
  label {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    display: inline-block;
  }

  /* line 61, ../sass/_screen.scss */
  input[type=text], input[type=password], textarea,
  input[type=submit], button, .button {
    height: 35px;
    border: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: "Ubuntu", sans-serif;
    padding: 0.46875em 16px;
    margin: 0;
    font-size: 0.875em;
    line-height: 1.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url("../javascripts/boxsizing.htc");
  }

  /* line 73, ../sass/_screen.scss */
  input[type=text], input[type=password], textarea {
    width: 100%;
  }

  /* line 77, ../sass/_screen.scss */
  select {
    width: 100%;
    margin-top: 0;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 1.5em;
  }

  /* line 85, ../sass/_screen.scss */
  input[type=submit], button, .button {
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
  }

  /* -- Misc Classes -- */
  /* line 93, ../sass/_screen.scss */
  .center-div {
    margin: 0 auto;
    overflow: auto;
  }

  /* Pagination Classes */
  /* line 100, ../sass/_screen.scss */
  .item-pagination {
    overflow: auto;
    clear: both;
    padding-bottom: 0.75em;
  }
  /* line 105, ../sass/_screen.scss */
  .item-pagination li {
    display: inline-block;
    background-color: #fff;
    margin: 0 0 0.75em 0;
    padding: 0.375em 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
  }
  /* line 112, ../sass/_screen.scss */
  .item-pagination li:empty {
    display: none;
  }
  /* line 115, ../sass/_screen.scss */
  .item-pagination .next {
    float: right;
  }
  /* line 116, ../sass/_screen.scss */
  .item-pagination .previous {
    float: left;
  }

  /* Item Classes */
  /* == Header == */
  /* line 124, ../sass/_screen.scss */
  header {
    padding: 0 16px;
  }

  /* line 129, ../sass/_screen.scss */
  #site-title {
    font-size: 32px;
    line-height: 48px;
    font-weight: 300;
    text-align: center;
    margin: 0;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
  }

  /* line 139, ../sass/_screen.scss */
  #search-container {
    padding-bottom: 1.5em;
  }
  /* line 142, ../sass/_screen.scss */
  #search-container:after {
    content: "";
    display: block;
    height: 0;
    width: 100px;
    clear: both;
  }

  /* line 151, ../sass/_screen.scss */
  #search-form {
    text-align: center;
    position: relative;
  }
  /* line 155, ../sass/_screen.scss */
  #search-form input[type=text] {
    width: 60%;
    font-size: 0.875em;
    line-height: 1.5em;
    float: left;
  }
  /* line 161, ../sass/_screen.scss */
  #search-form input[type=submit] {
    width: 30%;
    padding: 0;
    position: absolute;
    top: 0;
    left: 60%;
  }

  /* line 170, ../sass/_screen.scss */
  #advanced-search {
    width: 10%;
    height: 35px;
    text-indent: -9999px;
    display: block;
    position: absolute;
    padding: 0;
    top: 0;
    left: 90%;
    font-weight: bold;
    line-height: 27px;
    *zoom: 1;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    *behavior: url("../javascripts/boxsizing.htc");
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '+');
    *text-indent: 0;
  }
  /* line 187, ../sass/_screen.scss */
  #advanced-search:link, #advanced-search:hover, #advanced-search:active, #advanced-search:visited {
    color: #fff;
  }
  /* line 189, ../sass/_screen.scss */
  #advanced-search:after {
    content: "+";
    display: block;
    text-indent: 0;
    text-align: center;
    margin-top: -1.75em;
  }

  /* line 198, ../sass/_screen.scss */
  #advanced-form {
    display: none;
    background-color: #fff;
    overflow: auto;
    clear: both;
    z-index: 1001;
    position: absolute;
    top: 35px;
    left: 0;
    border: 1px solid #e7e7e7;
    width: 100%;
    padding: 1.5em 16px;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url("../javascripts/boxsizing.htc");
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 5px 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 5px 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 5px 10px;
  }
  /* line 214, ../sass/_screen.scss */
  #advanced-form #query-types *:first-child {
    margin-top: 0;
  }
  /* line 218, ../sass/_screen.scss */
  #advanced-form label {
    margin: 0;
    padding: 0;
  }
  /* line 223, ../sass/_screen.scss */
  #advanced-form p {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

  /* == Footer == */
  /* line 230, ../sass/_screen.scss */
  footer {
    margin-top: 1.5em;
    padding: 0 16px;
  }
  /* line 235, ../sass/_screen.scss */
  footer p {
    padding-bottom: 1.5em;
  }
  /* line 239, ../sass/_screen.scss */
  footer:empty {
    display: none;
  }

  /* == Content == */
  /* -- Structure -- */
  /* line 245, ../sass/_screen.scss */
  #content {
    clear: both;
    overflow: visible;
    padding: 1.5em 16px;
  }

  /* -- General -- */
  /* line 254, ../sass/_screen.scss */
  #home #content div {
    background-color: #fff;
    padding-bottom: 0.75em;
    border-top: 10px solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url("../javascripts/boxsizing.htc");
    margin-bottom: 0.75em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
  }
  /* line 262, ../sass/_screen.scss */
  #home #content div div {
    background: transparent;
    -webkit-box-shadow: transparent 0 0 0;
    -moz-box-shadow: transparent 0 0 0;
    box-shadow: transparent 0 0 0;
    padding-bottom: 0;
    border: 0;
  }
  /* line 269, ../sass/_screen.scss */
  #home #content div .item {
    border-top: 1px solid #dfe2e2;
    overflow: auto;
  }
  /* line 273, ../sass/_screen.scss */
  #home #content div .item h3 {
    margin-top: 0.75em;
  }
  /* line 276, ../sass/_screen.scss */
  #home #content div .items-list {
    margin-bottom: 0;
  }
  /* line 278, ../sass/_screen.scss */
  #home #content div .items-list .item-description {
    margin: 0.75em 16px 0;
  }
  /* line 284, ../sass/_screen.scss */
  #home #content div h1, #home #content div h2, #home #content div h3, #home #content div h4, #home #content div h5, #home #content div h6,
  #home #content div p, #home #content div input, #home #content div textarea {
    margin: 0.75em 16px;
  }
  /* line 288, ../sass/_screen.scss */
  #home #content div h2 {
    margin-bottom: 0;
    font-weight: 700;
  }
  /* line 293, ../sass/_screen.scss */
  #home #content div h3 {
    margin-top: 0;
    font-weight: 300;
    text-transform: uppercase;
  }
  /* line 299, ../sass/_screen.scss */
  #home #content div img {
    margin: 0 16px 0.75em;
    border: 1px solid #dfe2e2;
    display: block;
  }
  /* line 305, ../sass/_screen.scss */
  #home #content div .show {
    display: block;
    text-transform: capitalize;
  }
  /* line 308, ../sass/_screen.scss */
  #home #content div .show:before {
    content: "(";
  }
  /* line 309, ../sass/_screen.scss */
  #home #content div .show:after {
    content: "...)";
  }
  /* line 312, ../sass/_screen.scss */
  #home #content div .view-items-link {
    margin: 0;
    padding: 0.75em 16px 0;
    border-top: 1px solid #dfe2e2;
  }
  /* line 320, ../sass/_screen.scss */
  #home #intro {
    margin-bottom: 1.5em;
  }
  /* line 324, ../sass/_screen.scss */
  #home #featured-item p {
    clear: both;
  }
  /* line 326, ../sass/_screen.scss */
  #home #recent-items h2 {
    padding-bottom: 0.75em;
  }

  /* -- Navigation -- */
  /* line 332, ../sass/_screen.scss */
  nav ul {
    list-style: none;
    margin: 0 auto;
  }
  /* line 337, ../sass/_screen.scss */
  nav li {
    display: block;
    width: 100%;
  }
  /* line 341, ../sass/_screen.scss */
  nav li ul li {
    padding-left: 16px;
  }
  /* line 346, ../sass/_screen.scss */
  nav a {
    display: inline-block;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
  }

  /* line 353, ../sass/_screen.scss */
  .top {
    padding: 0 16px;
  }
  /* line 355, ../sass/_screen.scss */
  .top ul {
    display: none;
    padding: 0;
  }
  /* line 360, ../sass/_screen.scss */
  .top .mobile {
    margin: 1.5em auto;
    width: 100%;
  }

  /* == Items Pages == */
  /* line 368, ../sass/_screen.scss */
  #primary {
    *zoom: 1;
  }
  /* line 38, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  #primary:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 372, ../sass/_screen.scss */
  #primary h1, #primary h2, #primary h3, #primary h4, #primary h5, #primary h6, #primary p, #primary label {
    padding: 0.75em 16px;
  }
  /* line 376, ../sass/_screen.scss */
  #primary h1 {
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    border-top: 0;
    padding: 0 0 0.75em 0;
    margin-bottom: 0.375em;
  }
  /* line 385, ../sass/_screen.scss */
  #primary h2 {
    margin-bottom: 0;
    font-weight: 500;
    border-bottom: 5px solid;
  }
  /* line 391, ../sass/_screen.scss */
  #primary h3 {
    margin-bottom: 0.75em;
  }
  /* line 395, ../sass/_screen.scss */
  #primary #collection, #primary #item-tags, #primary #item-citation {
    background-color: #fff;
    border-top: 10px solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url("../javascripts/boxsizing.htc");
    padding-top: 0.75em;
    margin-bottom: 1.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    margin-bottom: 1.125em;
  }
  /* line 405, ../sass/_screen.scss */
  #primary #collection h3, #primary #item-tags h3, #primary #item-citation h3 {
    padding: 0 16px;
  }
  /* line 407, ../sass/_screen.scss */
  #primary #collection div, #primary #item-tags div, #primary #item-citation div {
    padding: 0 16px 0.375em;
  }
  /* line 409, ../sass/_screen.scss */
  #primary #collection div:first-of-type, #primary #item-tags div:first-of-type, #primary #item-citation div:first-of-type {
    border-top: 0;
  }
  /* line 413, ../sass/_screen.scss */
  #primary div, #primary section {
    background-color: #fff;
    border-top: 10px solid;
    overflow: visible;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url("../javascripts/boxsizing.htc");
    margin-bottom: 1.125em;
    *zoom: 1;
  }
  /* line 421, ../sass/_screen.scss */
  #primary div .view-items-link, #primary section .view-items-link {
    padding: 0.375em 16px 1.125em;
  }
  /* line 423, ../sass/_screen.scss */
  #primary div div, #primary section div {
    padding: 0.75em 16px 0;
    -webkit-box-shadow: transparent 0 0 0;
    -moz-box-shadow: transparent 0 0 0;
    box-shadow: transparent 0 0 0;
    border-top: 0;
  }
  /* line 428, ../sass/_screen.scss */
  #primary div div div, #primary div div h1, #primary div div h2, #primary div div h3, #primary div div h4, #primary div div h5, #primary div div h6, #primary div div p, #primary section div div, #primary section div h1, #primary section div h2, #primary section div h3, #primary section div h4, #primary section div h5, #primary section div h6, #primary section div p {
    padding: 0;
  }
  /* line 431, ../sass/_screen.scss */
  #primary div div div:first-of-type, #primary div div h1:first-of-type, #primary div div h2:first-of-type, #primary div div h3:first-of-type, #primary div div h4:first-of-type, #primary div div h5:first-of-type, #primary div div h6:first-of-type, #primary div div p:first-of-type, #primary section div div:first-of-type, #primary section div h1:first-of-type, #primary section div h2:first-of-type, #primary section div h3:first-of-type, #primary section div h4:first-of-type, #primary section div h5:first-of-type, #primary section div h6:first-of-type, #primary section div p:first-of-type {
    border-top: 0;
  }
  /* line 38, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  #primary div:after, #primary section:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 440, ../sass/_screen.scss */
  #primary .field div:only-of-type {
    margin-bottom: 0;
  }
  /* line 443, ../sass/_screen.scss */
  #primary .inputs {
    padding: 0.75em 16px 1.5em;
    clear: both;
  }
  /* line 447, ../sass/_screen.scss */
  #primary .inputs div:last-of-type, #primary .inputs div:only-of-type, #primary .inputs *:only-child, #primary .inputs *:last-child {
    margin-bottom: 0;
  }
  /* line 452, ../sass/_screen.scss */
  #primary > .element {
    border-bottom: 0;
  }
  /* line 454, ../sass/_screen.scss */
  #primary > * > .element {
    margin-bottom: 0.75em;
    border-bottom: 1px solid #dfe2e2;
  }
  /* line 458, ../sass/_screen.scss */
  #primary > * > .element div {
    padding-bottom: 0.75em;
  }
  /* line 461, ../sass/_screen.scss */
  #primary > * > .element div:only-of-type, #primary > * > .element div:last-of-type {
    border-bottom: 0;
    padding-bottom: 0;
  }
  /* line 470, ../sass/_screen.scss */
  #primary .element-set div {
    padding-bottom: 0.75em;
    margin-bottom: 0;
  }
  /* line 474, ../sass/_screen.scss */
  #primary .element-set div:only-of-type, #primary .element-set div:last-of-type {
    border-bottom: 0;
    padding-bottom: 0.375em;
  }
  /* line 481, ../sass/_screen.scss */
  #primary .item-img {
    display: inline-block;
    border: 1px solid #dfe2e2;
    width: 20%;
    margin: 0.75em 16px;
    float: left;
    padding: 0;
    overflow: visible;
    -webkit-box-shadow: border-box;
    -moz-box-shadow: border-box;
    box-shadow: border-box;
  }
  /* line 491, ../sass/_screen.scss */
  #primary .item-img img {
    width: 100%;
    height: auto;
    margin: 0;
    vertical-align: bottom;
  }
  /* line 500, ../sass/_screen.scss */
  #primary .pagination_list {
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    margin-top: 0.375em;
    margin-bottom: 1.5em;
    padding: 0.375em 0;
    text-align: center;
  }
  /* line 507, ../sass/_screen.scss */
  #primary .pagination_list li {
    display: inline-block;
    color: #fff;
    margin: 0 4px;
  }
  /* line 513, ../sass/_screen.scss */
  #primary .pagination_list .pagination_current {
    font-weight: 500;
  }
  /* line 517, ../sass/_screen.scss */
  #primary .pagination_list .pagination_first a, #primary .pagination_list .pagination_last a,
  #primary .pagination_list .pagination_previous a, #primary .pagination_list .pagination_next a {
    display: inline-block;
    text-indent: -9999px;
  }
  /* line 520, ../sass/_screen.scss */
  #primary .pagination_list .pagination_first a:after, #primary .pagination_list .pagination_last a:after,
  #primary .pagination_list .pagination_previous a:after, #primary .pagination_list .pagination_next a:after {
    text-indent: 0;
    display: block;
    margin-top: -2em;
  }
  /* line 528, ../sass/_screen.scss */
  #primary .pagination_list .pagination_first a:after {
    content: "<<";
  }
  /* line 529, ../sass/_screen.scss */
  #primary .pagination_list .pagination_last a:after {
    content: ">>";
  }
  /* line 530, ../sass/_screen.scss */
  #primary .pagination_list .pagination_previous a:after {
    content: "<";
  }
  /* line 531, ../sass/_screen.scss */
  #primary .pagination_list .pagination_next a:after {
    content: ">";
  }
  /* line 535, ../sass/_screen.scss */
  #primary #search-filters {
    border-top: 0;
    background-color: transparent;
    -webkit-box-shadow: transparent 0 0 0;
    -moz-box-shadow: transparent 0 0 0;
    box-shadow: transparent 0 0 0;
    margin-bottom: 1.5em;
  }
  /* line 541, ../sass/_screen.scss */
  #primary #search-filters li {
    overflow: auto;
    padding: 0.375em 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
  }
  /* line 546, ../sass/_screen.scss */
  #primary #search-filters li li {
    display: inline;
    padding: 0.375em 0;
    text-transform: lowercase;
    -webkit-box-shadow: transparent 0 0 0;
    -moz-box-shadow: transparent 0 0 0;
    box-shadow: transparent 0 0 0;
  }
  /* line 551, ../sass/_screen.scss */
  #primary #search-filters li li:last-of-type:after {
    content: "";
  }
  /* line 554, ../sass/_screen.scss */
  #primary #search-filters li li:after {
    content: ", ";
  }
  /* line 561, ../sass/_screen.scss */
  #primary div.hTagcloud {
    border-top: 0;
    background-color: transparent;
    -webkit-box-shadow: transparent 0 0 0;
    -moz-box-shadow: transparent 0 0 0;
    box-shadow: transparent 0 0 0;
  }
  /* line 565, ../sass/_screen.scss */
  #primary div.hTagcloud ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /* line 569, ../sass/_screen.scss */
  #primary div.hTagcloud ul li {
    display: inline-block;
    background-color: #fff;
    margin: 0 8px 0.75em 0;
    padding: 0.375em 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
  }

  /* line 582, ../sass/_screen.scss */
  #items h1 {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  /* line 587, ../sass/_screen.scss */
  #items .items-nav {
    margin-bottom: 0.375em;
    *zoom: 1;
  }
  /* line 588, ../sass/_screen.scss */
  #items .items-nav .active {
    font-weight: 500;
  }
  /* line 38, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  #items .items-nav:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 592, ../sass/_screen.scss */
  #items .items-nav li {
    display: inline-block;
    float: left;
    width: auto;
    margin-right: 16px;
  }
  /* line 600, ../sass/_screen.scss */
  #items #sort-links {
    border-top: 0;
    padding: 0.375em 12px;
    margin-bottom: 1.5em;
  }
  /* line 604, ../sass/_screen.scss */
  #items #sort-links span, #items #sort-links ul, #items #sort-links li {
    display: inline-block;
    margin: 0 4px;
  }
  /* line 611, ../sass/_screen.scss */
  #items.advanced-search .remove_search {
    margin-top: 1.5em;
    margin-left: 0;
  }
  /* line 616, ../sass/_screen.scss */
  #items.advanced-search select {
    float: left;
  }
  /* line 618, ../sass/_screen.scss */
  #items.advanced-search button {
    display: inline-block;
    margin: 0 16px 1.5em;
  }
  /* line 623, ../sass/_screen.scss */
  #items.advanced-search #advanced-search-form > div:last-of-type {
    border-top: 0;
    background-color: transparent;
    float: left;
    *zoom: 1;
  }
  /* line 38, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  #items.advanced-search #advanced-search-form > div:last-of-type:after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 634, ../sass/_screen.scss */
  #item #itemfiles h3 {
    margin-bottom: 0;
  }
  /* line 637, ../sass/_screen.scss */
  #item #itemfiles .item-file {
    border: 1px solid #dfe2e2;
    display: inline-block;
    width: 20%;
    overflow: visible;
    margin-right: 16px;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url("../javascripts/boxsizing.htc");
  }
  /* line 645, ../sass/_screen.scss */
  #item #itemfiles .item-file img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
  }
  /* line 651, ../sass/_screen.scss */
  #item #itemfiles .element-text {
    padding: 0 16px;
  }
  /* line 652, ../sass/_screen.scss */
  #item #itemfiles .element-text div:first-of-type {
    border-top: 1px solid #dfe2e2;
  }

  /* line 661, ../sass/_screen.scss */
  #collections:only-of-type, #collections:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
  }

  /* line 670, ../sass/_screen.scss */
  #collection #collection-items div {
    border-top: 1px solid #dfe2e2;
  }
  /* line 673, ../sass/_screen.scss */
  #collection #collection-items div:first-of-type {
    border-top: 0;
  }
  /* line 677, ../sass/_screen.scss */
  #collection #collection-items div div:only-of-type {
    margin-bottom: 0;
  }

  /* line 685, ../sass/_screen.scss */
  #search #search-results {
    background-color: #fff;
    margin-bottom: 1.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
  }
  /* line 690, ../sass/_screen.scss */
  #search #search-results th {
    color: #fff;
  }
  /* line 694, ../sass/_screen.scss */
  #search #search-results th, #search #search-results td {
    padding: 0.75em 8px;
  }
  /* line 696, ../sass/_screen.scss */
  #search #search-results th:last-of-type, #search #search-results td:last-of-type {
    border-right: 0;
  }

  /* Advanced Search */
  /* == Exhibit Pages == */
  /* line 704, ../sass/_screen.scss */
  #exhibits p {
    padding: 5px 20px 0;
  }

  /* line 710, ../sass/_screen.scss */
  #exhibits .exhibit,
  #exhibit-summary,
  #exhibit-show {
    clear: both;
    padding: 10px 20px;
  }

  /* line 715, ../sass/_screen.scss */
  #exhibit-summary h3 {
    padding: 3px 0;
  }

  /* line 719, ../sass/_screen.scss */
  #exhibit-summary p,
  #exhibit-show p {
    padding-bottom: 5px;
  }

  /* line 722, ../sass/_screen.scss */
  .exhibit-section-nav {
    list-style: none;
    margin-top: 1em;
  }

  /* line 726, ../sass/_screen.scss */
  .exhibit-section-nav li {
    display: inline;
  }

  /* line 729, ../sass/_screen.scss */
  .exhibit-section-nav {
    margin-bottom: 1em;
  }

  /* line 732, ../sass/_screen.scss */
  .exhibit-section-nav li {
    padding: 0.5em 0;
  }

  /* line 735, ../sass/_screen.scss */
  .exhibit-section-nav a {
    padding: 0.5em 1em 0.5em;
  }

  /* line 739, ../sass/_screen.scss */
  .exhibit-section-nav .current a,
  .exhibit-page-nav .current a {
    font-weight: bold;
  }

  /* line 742, ../sass/_screen.scss */
  .exhibit-page-nav {
    margin: 10px 0;
    clear: both;
  }

  /* line 746, ../sass/_screen.scss */
  ul.exhibit-page-nav {
    line-height: 1em;
    padding: 0.5em 0;
  }

  /* line 750, ../sass/_screen.scss */
  .exhibit-page-nav li {
    display: inline;
    margin-bottom: 0;
    padding: 0.5em 0;
  }

  /* line 755, ../sass/_screen.scss */
  .exhibit-page-nav a {
    padding: 0.5em 1em 0.5em;
  }

  /* line 759, ../sass/_screen.scss */
  #exhibit-page-navigation {
    clear: both;
    float: right;
  }

  /* line 763, ../sass/_screen.scss */
  #exhibit-page-navigation .next-page {
    margin-left: 2em;
  }

  /* == Simple Pages styles == */
  /* line 769, ../sass/_screen.scss */
  .page #primary {
    background-color: #fff;
    border-top: 10px solid;
    overflow: visible;
    padding: 1.5em 16px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url("../javascripts/boxsizing.htc");
    margin-bottom: 1.125em;
  }
  /* line 778, ../sass/_screen.scss */
  .page #primary div {
    border-top: 0;
    -webkit-box-shadow: transparent 0 0 0;
    -moz-box-shadow: transparent 0 0 0;
    box-shadow: transparent 0 0 0;
  }
  /* line 783, ../sass/_screen.scss */
  .page #primary > * {
    padding: 0.75em 0;
    margin: 0;
  }

  /* line 790, ../sass/_screen.scss */
  .simple-pages-navigation {
    list-style: none;
  }

  /* line 793, ../sass/_screen.scss */
  .simple-pages-navigation ul {
    display: none;
  }

  /* line 796, ../sass/_screen.scss */
  .simple-pages-navigation .current ul {
    display: block;
  }

  /* line 800, ../sass/_screen.scss */
  .simple-pages-navigation a {
    text-decoration: none;
    border-bottom: 1px solid #ddd;
    display: block;
    font-weight: bold;
    padding: 4px;
  }

  /* line 808, ../sass/_screen.scss */
  #simple-pages-breadcrumbs {
    margin-bottom: 0.5em;
    font-weight: bold;
  }

  /* Winter Styles */
  /* line 816, ../sass/_screen.scss */
  .winter body {
    background-color: #2f3e4a;
    color: #5a5a5a;
  }
  /* line 821, ../sass/_screen.scss */
  .winter h1, .winter #site-title a {
    color: #859ca2;
  }
  /* line 823, ../sass/_screen.scss */
  .winter input[type=submit], .winter button {
    background-color: #4b6569;
  }
  /* line 825, ../sass/_screen.scss */
  .winter input[type=text], .winter input[type=password], .winter textarea {
    background-color: #dfe2e2;
  }
  /* line 828, ../sass/_screen.scss */
  .winter a:link {
    color: #56acba;
  }
  /* line 829, ../sass/_screen.scss */
  .winter a:visited {
    color: #98c4c9;
  }
  /* line 830, ../sass/_screen.scss */
  .winter a:hover, .winter a:active {
    color: #3acacc;
  }
  /* line 833, ../sass/_screen.scss */
  .winter header {
    background-color: #fff;
  }
  /* line 835, ../sass/_screen.scss */
  .winter nav.top {
    background-color: #56acba;
  }
  /* line 838, ../sass/_screen.scss */
  .winter nav.top li:hover a {
    color: #fff;
  }
  /* line 840, ../sass/_screen.scss */
  .winter nav.top a:link, .winter nav.top a:visited {
    color: #def9ff;
  }
  /* line 841, ../sass/_screen.scss */
  .winter nav.top a:active, .winter nav.top a:hover {
    color: #fff;
  }
  /* line 843, ../sass/_screen.scss */
  .winter nav.top ul li ul {
    background-color: #56acba;
  }
  /* line 846, ../sass/_screen.scss */
  .winter nav.top ul li ul li > a:link, .winter nav.top ul li ul li > a:visited, .winter nav.top ul li ul li > a:active, .winter nav.top ul li ul li > a:hover {
    color: #fff;
  }
  /* line 851, ../sass/_screen.scss */
  .winter #intro {
    color: #fff;
  }
  /* line 857, ../sass/_screen.scss */
  .winter #content,
  .winter #secondary-nav .current a,
  .winter #secondary-nav a.current,
  .winter .exhibit-section-nav .current a,
  .winter .exhibit-page-nav .current a {
    background-color: #98c4c9;
  }
  /* line 861, ../sass/_screen.scss */
  .winter #home #content > div {
    border-color: #4b6569;
  }
  /* line 864, ../sass/_screen.scss */
  .winter #primary h1 {
    color: #fff;
  }
  /* line 866, ../sass/_screen.scss */
  .winter #primary h2 {
    border-color: #dfe2e2;
  }
  /* line 868, ../sass/_screen.scss */
  .winter #primary div {
    border-color: #859ca2;
  }
  /* line 870, ../sass/_screen.scss */
  .winter #primary > div, .winter #primary #collection, .winter #primary #item-tags, .winter #primary #item-citation, .winter #primary #advanced-search-form > div {
    border-color: #4b6569;
  }
  /* line 874, ../sass/_screen.scss */
  .winter #primary .pagination_list {
    background-color: #56acba;
  }
  /* line 877, ../sass/_screen.scss */
  .winter #primary .pagination_list a:link, .winter #primary .pagination_list a:visited {
    color: #def9ff;
  }
  /* line 878, ../sass/_screen.scss */
  .winter #primary .pagination_list a:hover, .winter #primary .pagination_list a:active {
    color: #fff;
  }
  /* line 882, ../sass/_screen.scss */
  .winter #primary .items-nav a:link, .winter #primary .items-nav a:visited {
    color: #def9ff;
  }
  /* line 883, ../sass/_screen.scss */
  .winter #primary .items-nav a:hover, .winter #primary .items-nav a:active {
    color: #fff;
  }
  /* line 886, ../sass/_screen.scss */
  .winter #primary .item-img {
    border-color: #dfe2e2;
  }
  /* line 889, ../sass/_screen.scss */
  .winter #search-results th {
    background-color: #4b6569;
  }
  /* line 892, ../sass/_screen.scss */
  .winter #search-filters li {
    background-color: #def9ff;
  }
  /* line 895, ../sass/_screen.scss */
  .winter .page #primary {
    border-color: #4b6569;
  }
  /* line 897, ../sass/_screen.scss */
  .winter footer {
    background-color: #2f3e4a;
  }
  /* line 901, ../sass/_screen.scss */
  .winter footer p {
    color: #fff;
  }

  /*Summer Styles*/
  /* line 910, ../sass/_screen.scss */
  .spring body {
    background-color: #4a6f14;
    color: #5a4e36;
  }
  /* line 915, ../sass/_screen.scss */
  .spring h1, .spring #site-title a {
    color: #4a6f14;
  }
  /* line 917, ../sass/_screen.scss */
  .spring input[type=submit], .spring button, .spring .button {
    background-color: #ba5656;
  }
  /* line 919, ../sass/_screen.scss */
  .spring input[type=text], .spring input[type=password], .spring textarea {
    background-color: #fff;
    border: 1px solid #e8e8e8;
  }
  /* line 925, ../sass/_screen.scss */
  .spring a:link {
    color: #ff8f00;
  }
  /* line 926, ../sass/_screen.scss */
  .spring a:visited {
    color: #d89966;
  }
  /* line 927, ../sass/_screen.scss */
  .spring a:hover, .spring a:active {
    color: #ff5c00;
  }
  /* line 930, ../sass/_screen.scss */
  .spring header {
    background-color: #f1ffba;
  }
  /* line 932, ../sass/_screen.scss */
  .spring nav.top {
    background-color: #92ba56;
  }
  /* line 935, ../sass/_screen.scss */
  .spring nav.top li:hover a {
    color: #fff;
  }
  /* line 937, ../sass/_screen.scss */
  .spring nav.top a:link, .spring nav.top a:visited {
    color: #f1ffba;
  }
  /* line 938, ../sass/_screen.scss */
  .spring nav.top a:active, .spring nav.top a:hover {
    color: #f9ffec;
  }
  /* line 940, ../sass/_screen.scss */
  .spring nav.top ul li ul {
    background-color: #92ba56;
  }
  /* line 943, ../sass/_screen.scss */
  .spring nav.top ul li ul li > a:link, .spring nav.top ul li ul li > a:visited {
    color: #f1ffba;
  }
  /* line 944, ../sass/_screen.scss */
  .spring nav.top ul li ul li > a:active, .spring nav.top ul li ul li > a:hover, .spring nav.top ul li ul li:hover > a {
    color: #fff;
  }
  /* line 949, ../sass/_screen.scss */
  .spring #intro {
    color: #ff8f00;
  }
  /* line 955, ../sass/_screen.scss */
  .spring #content,
  .spring #secondary-nav .current a,
  .spring #secondary-nav a.current,
  .spring .exhibit-section-nav .current a,
  .spring .exhibit-page-nav .current a {
    background-color: #f9ffec;
  }
  /* line 959, ../sass/_screen.scss */
  .spring #home #content > div {
    border-color: #ba5656;
  }
  /* line 962, ../sass/_screen.scss */
  .spring #primary h1 {
    color: #ff8f00;
  }
  /* line 964, ../sass/_screen.scss */
  .spring #primary h2 {
    border-color: #e8e8e8;
  }
  /* line 966, ../sass/_screen.scss */
  .spring #primary > div, .spring #primary #collection, .spring #primary #item-tags, .spring #primary #item-citation, .spring #primary #advanced-search-form > div {
    border-color: #ba5656;
  }
  /* line 970, ../sass/_screen.scss */
  .spring #primary .pagination_list {
    background-color: #ba5656;
  }
  /* line 973, ../sass/_screen.scss */
  .spring #primary .pagination_list a:link, .spring #primary .pagination_list a:visited {
    color: #ffffad;
  }
  /* line 974, ../sass/_screen.scss */
  .spring #primary .pagination_list a:hover, .spring #primary .pagination_list a:active {
    color: #fff;
  }
  /* line 978, ../sass/_screen.scss */
  .spring #primary .items-nav a:link, .spring #primary .items-nav a:visited {
    color: #92ba56;
  }
  /* line 979, ../sass/_screen.scss */
  .spring #primary .items-nav a:active, .spring #primary .items-nav a:hover {
    color: #acbb00;
  }
  /* line 982, ../sass/_screen.scss */
  .spring #primary .item-img {
    border-color: #e8e8e8;
  }
  /* line 985, ../sass/_screen.scss */
  .spring #search-results th {
    background-color: #ba5656;
  }
  /* line 988, ../sass/_screen.scss */
  .spring #search-filters li {
    background-color: #ffffad;
  }
  /* line 991, ../sass/_screen.scss */
  .spring .page #primary {
    border-color: #ba5656;
  }
  /* line 993, ../sass/_screen.scss */
  .spring footer {
    background-color: #4a6f14;
  }
  /* line 997, ../sass/_screen.scss */
  .spring footer p {
    color: #000;
  }

  /*Summer Styles*/
  /* line 1006, ../sass/_screen.scss */
  .summer body {
    background-color: #3c8f8c;
    color: #6a7e88;
  }
  /* line 1011, ../sass/_screen.scss */
  .summer h1, .summer #site-title a {
    color: #13bbbb;
  }
  /* line 1013, ../sass/_screen.scss */
  .summer input[type=submit], .summer button, .summer .button {
    background-color: #8ecac8;
  }
  /* line 1015, ../sass/_screen.scss */
  .summer input[type=text], .summer input[type=password], .summer textarea {
    background-color: #d0eeee;
  }
  /* line 1018, ../sass/_screen.scss */
  .summer a:link {
    color: #eb4c0f;
  }
  /* line 1019, ../sass/_screen.scss */
  .summer a:visited {
    color: #f09999;
  }
  /* line 1020, ../sass/_screen.scss */
  .summer a:hover, .summer a:active {
    color: red;
  }
  /* line 1023, ../sass/_screen.scss */
  .summer header {
    background-color: #fff;
  }
  /* line 1025, ../sass/_screen.scss */
  .summer nav.top {
    background-color: #ffed15;
  }
  /* line 1028, ../sass/_screen.scss */
  .summer nav.top li:hover a {
    color: #3c8f8c;
  }
  /* line 1030, ../sass/_screen.scss */
  .summer nav.top a:link, .summer nav.top a:visited {
    color: #13bbbb;
  }
  /* line 1031, ../sass/_screen.scss */
  .summer nav.top a:active, .summer nav.top a:hover {
    color: #3c8f8c;
  }
  /* line 1033, ../sass/_screen.scss */
  .summer nav.top ul li ul {
    background-color: #ffed15;
  }
  /* line 1036, ../sass/_screen.scss */
  .summer nav.top ul li ul li > a:link, .summer nav.top ul li ul li > a:visited {
    color: #13bbbb;
  }
  /* line 1037, ../sass/_screen.scss */
  .summer nav.top ul li ul li > a:active, .summer nav.top ul li ul li > a:hover, .summer nav.top ul li ul li:hover > a {
    color: #3c8f8c;
  }
  /* line 1042, ../sass/_screen.scss */
  .summer #intro {
    color: #eb4c0f;
  }
  /* line 1048, ../sass/_screen.scss */
  .summer #content,
  .summer #secondary-nav .current a,
  .summer #secondary-nav a.current,
  .summer .exhibit-section-nav .current a,
  .summer .exhibit-page-nav .current a {
    background-color: #fdffe2;
  }
  /* line 1052, ../sass/_screen.scss */
  .summer #home #content > div {
    border-color: #8ecac8;
  }
  /* line 1055, ../sass/_screen.scss */
  .summer #primary h1 {
    color: #eb4c0f;
  }
  /* line 1057, ../sass/_screen.scss */
  .summer #primary h2 {
    border-color: #ffe0e0;
  }
  /* line 1059, ../sass/_screen.scss */
  .summer #primary > div, .summer #primary #collection, .summer #primary #item-tags, .summer #primary #item-citation, .summer #primary #advanced-search-form > div {
    border-color: #8ecac8;
  }
  /* line 1063, ../sass/_screen.scss */
  .summer #primary .pagination_list {
    background-color: #8ecac8;
  }
  /* line 1066, ../sass/_screen.scss */
  .summer #primary .pagination_list a:link, .summer #primary .pagination_list a:visited {
    color: #d0eeee;
  }
  /* line 1067, ../sass/_screen.scss */
  .summer #primary .pagination_list a:hover, .summer #primary .pagination_list a:active {
    color: #fff;
  }
  /* line 1071, ../sass/_screen.scss */
  .summer #primary .items-nav a:link, .summer #primary .items-nav a:visited {
    color: #eb4c0f;
  }
  /* line 1072, ../sass/_screen.scss */
  .summer #primary .items-nav a:active, .summer #primary .items-nav a:hover {
    color: red;
  }
  /* line 1075, ../sass/_screen.scss */
  .summer #primary .item-img {
    border-color: #d0eeee;
  }
  /* line 1078, ../sass/_screen.scss */
  .summer #search-results th {
    background-color: #8ecac8;
  }
  /* line 1081, ../sass/_screen.scss */
  .summer #search-filters li {
    background-color: #fff;
  }
  /* line 1084, ../sass/_screen.scss */
  .summer .page #primary {
    border-color: #8ecac8;
  }
  /* line 1086, ../sass/_screen.scss */
  .summer footer {
    background-color: #3c8f8c;
  }
  /* line 1090, ../sass/_screen.scss */
  .summer footer p {
    color: #fff;
  }

  /*Autumn Styles*/
  /* line 1099, ../sass/_screen.scss */
  .autumn body {
    background-color: #86443c;
    color: #86443c;
  }
  /* line 1104, ../sass/_screen.scss */
  .autumn h1, .autumn #site-title a {
    color: #f8f1e5;
  }
  /* line 1106, ../sass/_screen.scss */
  .autumn input[type=submit], .autumn button, .autumn .button {
    background-color: #86443c;
  }
  /* line 1108, ../sass/_screen.scss */
  .autumn input[type=text], .autumn input[type=password], .autumn textarea {
    background-color: #f8f1e5;
  }
  /* line 1111, ../sass/_screen.scss */
  .autumn a:link {
    color: #ffa300;
  }
  /* line 1112, ../sass/_screen.scss */
  .autumn a:visited {
    color: #e2b76b;
  }
  /* line 1113, ../sass/_screen.scss */
  .autumn a:hover, .autumn a:active {
    color: #f16100;
  }
  /* line 1116, ../sass/_screen.scss */
  .autumn header {
    background-color: #ce6c3e;
  }
  /* line 1118, ../sass/_screen.scss */
  .autumn nav.top {
    background-color: #cabfa6;
  }
  /* line 1121, ../sass/_screen.scss */
  .autumn nav.top li:hover a {
    color: #fff;
  }
  /* line 1123, ../sass/_screen.scss */
  .autumn nav.top a:link, .autumn nav.top a:visited {
    color: #be5e5e;
  }
  /* line 1124, ../sass/_screen.scss */
  .autumn nav.top a:active, .autumn nav.top a:hover {
    color: #fff;
  }
  /* line 1126, ../sass/_screen.scss */
  .autumn nav.top ul li ul {
    background-color: #cabfa6;
  }
  /* line 1129, ../sass/_screen.scss */
  .autumn nav.top ul li ul li > a:link, .autumn nav.top ul li ul li > a:visited {
    color: #be5e5e;
  }
  /* line 1130, ../sass/_screen.scss */
  .autumn nav.top ul li ul li > a:active, .autumn nav.top ul li ul li > a:hover, .autumn nav.top ul li ul li:hover > a {
    color: #fff;
  }
  /* line 1135, ../sass/_screen.scss */
  .autumn #intro {
    color: #815442;
  }
  /* line 1141, ../sass/_screen.scss */
  .autumn #content,
  .autumn #secondary-nav .current a,
  .autumn #secondary-nav a.current,
  .autumn .exhibit-section-nav .current a,
  .autumn .exhibit-page-nav .current a {
    background-color: #f8f1e5;
  }
  /* line 1145, ../sass/_screen.scss */
  .autumn #home #content > div {
    border-color: #cabfa6;
  }
  /* line 1148, ../sass/_screen.scss */
  .autumn #primary h1 {
    color: #815442;
  }
  /* line 1150, ../sass/_screen.scss */
  .autumn #primary h2 {
    border-color: #ecebe6;
  }
  /* line 1152, ../sass/_screen.scss */
  .autumn #primary > div, .autumn #primary #collection, .autumn #primary #item-tags, .autumn #primary #item-citation, .autumn #primary #advanced-search-form > div {
    border-color: #cabfa6;
  }
  /* line 1156, ../sass/_screen.scss */
  .autumn #primary .pagination_list {
    background-color: #86443c;
  }
  /* line 1159, ../sass/_screen.scss */
  .autumn #primary .pagination_list a:link, .autumn #primary .pagination_list a:visited {
    color: #cabfa6;
  }
  /* line 1160, ../sass/_screen.scss */
  .autumn #primary .pagination_list a:hover, .autumn #primary .pagination_list a:active {
    color: #fff;
  }
  /* line 1163, ../sass/_screen.scss */
  .autumn #primary .item-img {
    border-color: #ecebe6;
  }
  /* line 1166, ../sass/_screen.scss */
  .autumn #search-results th {
    background-color: #cabfa6;
  }
  /* line 1169, ../sass/_screen.scss */
  .autumn #search-filters li {
    background-color: #fff;
  }
  /* line 1172, ../sass/_screen.scss */
  .autumn .page #primary {
    border-color: #cabfa6;
  }
  /* line 1174, ../sass/_screen.scss */
  .autumn footer {
    background-color: #86443c;
  }
  /* line 1178, ../sass/_screen.scss */
  .autumn footer p {
    color: #fff;
  }
}
@media screen and (min-width: 768px) {
  /* line 1, ../sass/_screen_768.scss */
  header {
    *zoom: 1;
  }
  /* line 38, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  header:after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 5, ../sass/_screen_768.scss */
  #site-title {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
    text-align: left;
    float: left;
  }
  /* line 10, ../sass/_screen_768.scss */
  #site-title:after {
    content: "";
    display: block;
    height: 0px;
    clear: both;
  }

  /* line 18, ../sass/_screen_768.scss */
  #search-container {
    width: 32.20339%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
    margin-top: 1.875em;
  }
  /* line 21, ../sass/_screen_768.scss */
  #search-container input {
    padding: 0.46875em 8px;
  }

  /* line 25, ../sass/_screen_768.scss */
  nav.top ul {
    display: block;
    position: relative;
    z-index: 1000;
  }
  /* line 29, ../sass/_screen_768.scss */
  nav.top ul li {
    float: left;
    width: auto;
    position: relative;
  }
  /* line 34, ../sass/_screen_768.scss */
  nav.top ul li a {
    padding: 0.75em 16px;
  }
  /* line 36, ../sass/_screen_768.scss */
  nav.top ul li:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  /* line 38, ../sass/_screen_768.scss */
  nav.top ul li:hover > ul {
    display: block;
  }
  /* line 41, ../sass/_screen_768.scss */
  nav.top ul li ul {
    min-width: 200px;
    display: none;
    padding: 0;
    position: absolute;
    top: 3em;
    left: 0px;
  }
  /* line 49, ../sass/_screen_768.scss */
  nav.top ul li ul li {
    width: 100%;
    clear: both;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 55, ../sass/_screen_768.scss */
  nav.top ul li ul li ul {
    position: absolute;
    left: 100%;
    top: 0;
  }
  /* line 64, ../sass/_screen_768.scss */
  nav.top .mobile {
    display: none;
  }

  /* line 67, ../sass/_screen_768.scss */
  header, nav.top, #content, footer {
    *zoom: 1;
    padding-left: 14.70588%;
    padding-right: 14.70588%;
  }
  /* line 38, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  header:after, nav.top:after, #content:after, footer:after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 74, ../sass/_screen_768.scss */
  .page #primary > * {
    padding-left: 5.88235%;
    padding-right: 5.88235%;
  }

  /* line 80, ../sass/_screen_768.scss */
  #primary .pagination_list {
    float: left;
    padding: 0.375em 16px;
  }

  /* line 87, ../sass/_screen_768.scss */
  #home #content #intro {
    border-top: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
    font-size: 24px;
    line-height: 36px;
    -webkit-box-shadow: transparent 0 0 0;
    -moz-box-shadow: transparent 0 0 0;
    box-shadow: transparent 0 0 0;
    margin-bottom: 1.125em;
  }
  /* line 97, ../sass/_screen_768.scss */
  #home #content #intro p {
    margin: 0;
  }
  /* line 100, ../sass/_screen_768.scss */
  #home #content #featured-item {
    float: left;
    clear: left;
    margin-bottom: 1.5em;
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
    *margin-left: 0;
  }
  /* line 107, ../sass/_screen_768.scss */
  #home #content #featured-item img {
    width: auto;
  }
  /* line 112, ../sass/_screen_768.scss */
  #home #content > div {
    width: 66.10169%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }
  /* line 115, ../sass/_screen_768.scss */
  #home #content > div img {
    width: 20%;
    float: left;
  }

  /* line 126, ../sass/_screen_768.scss */
  #items #primary div#sort-links {
    float: right;
    text-align: center;
  }
  /* line 131, ../sass/_screen_768.scss */
  #items .item {
    clear: both;
  }
  /* line 134, ../sass/_screen_768.scss */
  #items .item div {
    display: inline-block;
  }
  /* line 139, ../sass/_screen_768.scss */
  #items .item-img {
    width: 10%;
    float: left;
  }
  /* line 146, ../sass/_screen_768.scss */
  #items #advanced-search-form > div {
    width: 61.53846%;
    float: left;
    margin-right: 2.5641%;
    display: inline;
    clear: both;
  }
  /* line 151, ../sass/_screen_768.scss */
  #items #advanced-search-form > div:last-of-type {
    width: auto;
  }

  /* line 158, ../sass/_screen_768.scss */
  #item #primary .element-set {
    width: 61.53846%;
    float: left;
    margin-right: 2.5641%;
    display: inline;
  }
  /* line 162, ../sass/_screen_768.scss */
  #item #primary > div {
    width: 35.89744%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
    clear: right;
  }

  /* line 169, ../sass/_screen_768.scss */
  #collections.show #primary .element-set {
    width: 61.53846%;
    float: left;
    margin-right: 2.5641%;
    display: inline;
  }
  /* line 173, ../sass/_screen_768.scss */
  #collections.show #primary > div {
    width: 35.89744%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
    clear: right;
  }

  /* line 181, ../sass/_screen_768.scss */
  #search #search-filters li {
    float: left;
    vertical-align: top;
  }
  /* line 184, ../sass/_screen_768.scss */
  #search #search-filters li ul {
    display: inline;
    margin: 0;
    padding: 0;
  }
  /* line 188, ../sass/_screen_768.scss */
  #search #search-filters li ul li {
    display: inline;
    padding: 0;
    margin: 0;
    float: none;
  }
  /* line 198, ../sass/_screen_768.scss */
  #search #search-results {
    width: 100%;
  }
}
@media print {
  /* Print Styles */
  /*end @media print*/
}
@media print {
  /* line 3, ../sass/_print.scss */
  body {
    font: 12px Georgia, "Palatino Linotype", "Book Antiqua", "Times New Roman", Times, serif;
  }

  /* line 6, ../sass/_print.scss */
  #content {
    width: 100%;
    margin: 0;
    float: none;
  }

  /* line 12, ../sass/_print.scss */
  h1,
  #site-title {
    font-size: 16pt;
    font-weight: bold;
  }

  /* line 16, ../sass/_print.scss */
  h2 {
    font-size: 14pt;
    font-style: italic;
  }

  /* line 20, ../sass/_print.scss */
  h3 {
    font-size: 14pt;
  }

  /* line 23, ../sass/_print.scss */
  h4 {
    font-weight: bold;
  }

  /* line 26, ../sass/_print.scss */
  h5 {
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
  }

  /* line 31, ../sass/_print.scss */
  a:link:after {
    content: " (" attr(href) ") ";
    font-size: 80%;
  }

  /* line 42, ../sass/_print.scss */
  #search-container,
  #primary-nav,
  #header-image,
  .navigation,
  .pagination,
  #exhibit-page-navigation,
  .exhibit-section-nav,
  .exhibit-page-nav {
    display: none;
  }

  /* line 45, ../sass/_print.scss */
  blockquote {
    margin: 10pt 0 0 0;
    font-style: italic;
  }
}
