body {background-color:#1A2944;border-top:3px solid #514533;}

h1 {color:#859ca2;}


a {color:#514533;}
.pagination .current {color:#514533;background-color:#98C4C9;}

.popular a, .popular a:visited {color: #514533;}
.v-popular a, .v-popular a:visited {color: #514533;}
.vv-popular a, .vv-popular a:visited {color: #514533;}
.vvv-popular a, .vvv-popular a:visited {color: #514533;}
.vvvv-popular a, .vvvv-popular a:visited {color: #514533;}
.vvvvv-popular a, .vvvvv-popular a:visited {color: #514533;}
.vvvvvv-popular a, .vvvvvv-popular a:visited {color: #514533;}
.vvvvvvv-popular a, .vvvvvvv-popular a:visited {color: #514533;}
.vvvvvvvv-popular a, .vvvvvvvv-popular a:visited {color: #514533;}

#header {background-color:#F8F9FA;}
#site-title a {color:#859ca2;}
#content {background-color:#98C4C9;}
#content-container{background-color:#F8F9FA;}

#recent-items .item {border-bottom:2px #514533 solid;}

#primary-nav { background-color:#56ACBA;border-bottom: 6px solid #F8F9FA;}
#primary-nav ul {background-color:#F8F9FA;}
#primary-nav a {color: #F8F9FA; background:#56ACBA;}
#primary-nav a:hover {background:#1A2944;}

#items #primary-nav .nav-items a {background:#1A2944;}
#exhibits #primary-nav .nav-exhibits a {background:#1A2944;}
#collections #primary-nav .nav-collections a {background:#1A2944;}
#about #primary-nav .nav-about a {background:#1A2944;}
#secondary-nav .current a{background:#98C4C9;}
#secondary-nav a.current {background:#98C4C9;}

#primary #search {color:#1B0600;;}

#items.browse .item {border-bottom:2px #514533 solid;}

#items.show .element {border-bottom:2px #514533 solid;}

.title-list {border-bottom:2px #514533 solid;}

.field {border-bottom:1px solid #514533;}
.field .textinput, .field select {background:#fff;}

#exhibits .exhibit {border-bottom:2px #514533 solid;}

.exhibit-section-nav .current a {background:#98C4C9;}
.exhibit-section-nav a.current {background:#98C4C9;}

.exhibit-page-nav .current {color:#514533;background-color:#98C4C9;}

.collection {border-bottom:2px #514533 solid;}

#footer { border-top: 6px solid #F8F9FA;background-color:#1A2944;}
#footer a {color:#98C4C9;}
#footer p {color:#fff;}


.simple-pages-navigation a:link,
.simple-pages-navigation a:visited {
color: #98C4C9;
}

.simple-pages-navigation a:hover,
.simple-pages-navigation a:active {
background: rgba(0,0,0,0.025);
color: #514533;
}

.simple-pages-navigation li.current a {
background: rgba(0,0,0,0.05);
color: #514533; 
}




