@mixin block-reset {
    background-color: transparent;
    border-top: 0;
    box-shadow: 0px 0px 0px transparent;
    padding: 0;
}

@mixin primary-container {
    background-color: var(--seasons-matte-bg-color);
    border-style: solid;
    border-width: 10px 0 0 0;
    border-color: var(--seasons-border-color);
    display: flow-root;
    padding: 12px 16px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    box-sizing: border-box;
    margin-bottom: 18px;    
    @include prefix(.5);
    @include suffix(.5);
}