header {
    @include pie-clearfix;
}

#site-title {
    @include span-columns (8 alpha, 12);
    text-align: left;
    float: left;
    
    &:after {
        content: "";
        display: block;
        height: 0px;
        clear: both;
    }
}

#search-container {
    @include span-columns(4 omega,12);
    @include leader(1.25);
    input { padding: rhythm(.3125) 8px; }
}

nav.top {
    ul { 
        display: block; 
        position: relative;
        z-index: 1000;
        li {
            float: left;
            width: auto;
            position: relative;
            
            a { padding: rhythm(.5) 16px; }
            
            &:hover {
                background-color:rgba(0,0,0,.05);
                & > ul { display: block; }
            }

            ul {
                min-width: 200px;
                display: none;
                padding: 0;
                position: absolute;
                top: rhythm(2);
                left: 0px;
                
                li {
                    width: 100%;
                    clear: both;
                    padding: 0;
                    @include box-sizing(border-box);
                    
                    ul {
                    position: absolute;
                    left: 100%;
                    top: 0;
                    }
                }
            }
        }
    }
    .mobile { display: none; }
}

header, nav.top, #content, footer {
    @include pie-clearfix;
    @include prefix(1);
    @include suffix(1);
}

.pagination {
    float: left;
    margin: 0;
}

#content nav .pagination_list {
	@include leader(.25);
}

#home {
    #content {
        #intro {
                border-top: 0;
                background-color: transparent;
                padding: 0;
                margin: 0;
                font-size: 1.5 * $base-font-size;
                line-height: 1.5 * $base-line-height;
                @include box-shadow(transparent 0 0 0);
                @include trailer(.75);
                
                p { margin: 0; }
            }

        #featured-item {
            float: left;
            clear: left;
            @include trailer();
            @include span-columns(4 alpha, 12);
            *margin-left: 0;
            
            .image {
                display: inline-block;
                width: 100%;
            }
            
            .image img {
                width: 100%;
                max-width: 100%;
                height: auto;
                margin: 0;
            }
        }
        
        & > div {
            @include span-columns(8 omega, 12);
            
            img {
                width: 20%;
                float: left;
            }
        }

    }
}

.items {
    
    #content div#sort-links {
        float: right;
        text-align: center;
    }
    
    .item { clear: both;}
    
    .item-img {
        width: 10%;
        float: left;
    }
        
    #advanced-search-form {
    
        & > div {
            @include span-columns(5 alpha, 8);
            clear: both;
        }
        
        & > div:last-of-type {
            width: auto;
        }
    }
}

.items.show, .exhibits.exhibit-item-show, .files {
    #primary {
        *margin-left: 0;
        @include span-columns (5 alpha, 8);
    }

    
    #sidebar {
        display: inline-block;
        float: right;
        clear: right;
        @include span-columns (3 omega, 8);
                        
    }
}

.collections.show {
    #primary .element-set {
        @include span-columns (5 alpha, 8);
        *margin-left: 0;
    }
    
    #primary > div {
        @include span-columns(3 omega, 8);
        clear: right;
    }
    
    .item-img { margin-left: 0; }
}

#search-filters, #item-filters {
    li { 
        float: left; 
        vertical-align: top;
        ul { 
            display: inline; 
            margin: 0;
            padding: 0;
            li {
                display: inline;
                padding: 0;
                margin: 0;
                float: none;
            }
        }
    }
}

#search-results {
    width: 100%;
}

.page #content #primary {
    @include padding-leader(2);
    @include padding-trailer(2);
}

/* Exhibits */

.exhibits.summary {
    #primary { 
        @include span-columns(8 alpha, 12); 
    }

    #exhibit-pages { 
        display: inline-block;
        float: right;
        @include span-columns(4 omega, 12); 
    }
}

.exhibits.show #content {
    .exhibit-page-nav {
        & > li:first-child {
            background-color: rgba(0,0,0,.1);
            float: left;
        }
        
        & > li:nth-child(2) li:first-of-type { padding-left: 8px; }
    }

    #exhibit-page-navigation {
        .exhibits-nav-prev { text-align: left; }
        
        .exhibits-nav-next { text-align: right; }
    
        & > div { 
            padding: 0; 
            width: 33%;
        }
        
        a, span { width: 100%; }
    
    }

}
