/*
Table of Contents
=================
-- General HTML Elements
----- Headings
----- Form Elements
-- Global Classes
-- Navigation
----- Pagination
-- Header 
-- Footer
-- Content
-- Home
-- Items
-- Search
----- Advanced Search
-- Files
-- Collections
-- ExhibitBuilder
-- Simple Pages
-- Winter Styles
-- Spring Styles
-- Summer Styles
-- Autumn Styles
-- Night Styles
*/


/* !---------- General HTML Elements ---------- */

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: $base-font-size;
    line-height: $base-line-height;
    word-wrap: break-word;
    height: 100%;
}

a { text-decoration: none; }


    /* !---------- Headings ---------- */
    
    h1 {
        font-size: 2 * $base-font-size;
        line-height: 2 * $base-line-height;
    }
    
    h2 {
        font-size:1.5 * $base-font-size; 
        line-height: 1.5 * $base-line-height;
    }
    
    h3 {
        font-size: 1.25 * $base-font-size; 
        line-height: 1.25 * $base-line-height;
        font-weight: 500;
    }
    
    h4 { 
        font-size: 1.125 * $base-font-size;
        line-height: 1.125 * $base-line-height; 
    }
    
    h5, h6 {
        font-size: $base-font-size;
        line-height: $base-line-height;
    }
    
    p, ol, ul {
        @include trailer();
        
        &:only-child, &:last-child { margin-bottom: 0; }
    }
    
    ul { 
        list-style-type: disc; 
        padding-left: 1em;
    }
    
    /* !---------- Form Elements ---------- */
    
    label {
        @include padding-leader(.5);
        @include padding-trailer(.5);
        display: inline-block;
    }
    
    input[type=text], input[type=password], textarea,
    input[type=submit], button, .button {
        border: 0;
        padding: rhythm(.3125) 16px;
        margin: 0;
        @include boxsizing(border-box);
    }
    
    input[type=text], input[type=password],
    input[type=submit], button, .button {
        height: 35px;
    }
    
    input[type=text], input[type=password], textarea { width: 100%; }
    
    input[type=radio] { margin-right: 5px; }
    
    select {
        margin: 0 0 rhythm();
        border: 1px solid $winter-light-gray;
        line-height: 1.5 * $base-line-height;
        height: 1.5 * $base-line-height;
        font-size: $base-font-size;
    }
    
    input[type=submit], button, .button {
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
    }
        
    fieldset { 
        border: 0; 
        margin: 0;
        padding: 0;
    }

/* !---------- Global classes ---------- */

.container {
  @include container;
}

.show {
    
    #primary {
        padding: 0;
    }
    
    #primary > div, #content #sidebar > div {
        border-style: solid;
        border-width: 10px 0 0 0;
        padding: rhythm(.5) 16px;
        @include boxsizing(border-box);
        @include trailer(.75);
        @include box-shadow(rgba(0,0,0,.15) 0 0 10px);
        
        & > *:first-child { @include leader(0); }
    }
    
    .item-file { 
        text-align: center; 
        width: 100%; 
        
        .download-file {
            display: inline-block;
        }

        img { 
            vertical-align: bottom; 
            max-width: 100%;
        }
        
        & > div {
            display: inline-block;
        }
    }
}

.gm-style {
    word-wrap: normal;
}

.image {
    height: rhythm(3);
    width: auto;
    float: left;
    display: block;
    margin: 0 rhythm(.5) rhythm(.5) 0;
    
    img {
        height: 100%;
        width: auto;
    }
}

.collection .image,
.exhibit .image {
    @include box-shadow(-3px -3px 0 #bbb, -4px -4px 0 #fff, -7px -7px 0 #dedede);
    margin-left: 7px;
}

.record {
    clear: both;
    overflow: hidden;
}


/* !---------- Navigation ---------- */

nav {
    ul {
        list-style:none;
        margin:0 auto;
    }

    a { display: inline-block; }
}

.top {
    padding: 0 16px;
    
    ul {
        display: none;
    }
    
    a {
        @include padding-leader(.5);
        @include padding-trailer(.5);
    }
    
    .mobile {
        margin: rhythm(1) auto;
        width: 100%;
    }
}

.navigation ul, ul.navigation { 
    padding-left: 0; 
}

.secondary-nav, #secondary-nav {
    @include trailer();
    @include pie-clearfix();
    
    .current, .active { 
        font-weight: 500; 
    }
    
    ul { 
        padding-left: 0; 
    }
    
    li { 
        float: left;
        width: auto;
        margin-right: 16px;
    }
}

    /* !---------- Pagination ---------- */
    
    .pagination { 
        list-style-type: none;
        padding-left: 0;
        margin: 0 0 rhythm();
        
        li { 
            display: inline-block; 
            margin-right: 5px;
            vertical-align: top;
        }
        
        input[type=text] {
            width: 50px;
            text-align: right;
            margin-right: 10px;
            padding-left: 5px !important;
            padding-right: 5px !important;
            @include rhythm-borders(1px, 0, $base-font-size, solid);
            @include box-shadow(rgba(0,0,0,.15) 0 0 10px);
        }
    }
    
    nav.pagination {
        padding: 0;
    
        .pagination_list { 
            @include box-shadow(rgba(0,0,0,.15) 0 0 10px);
            @include trailer(1.25);
            clear: both;
            padding: rhythm(.25) 0;
            text-align: center;
            
            li { 
                display:inline-block;
                width: auto;
                color: #fff;
                margin: 0 4px;
                zoom: 1;
            }
            
            a { padding: 0; }
            
            .pagination_current { font-weight: 500; }
            
            .pagination_first, .pagination_last,
            .pagination_previous, .pagination_next {
                a {
                    display: inline-block;
                    text-indent: -9999px;
                    height: auto;
                    @include box-shadow(transparent 0 0 0);
                    
                    &:after {
                        text-indent: 0;
                        display: block;
                        margin-top: -2em;
                    }
                }
            }
    
            .pagination_first a:after { content: "<<"; }
            .pagination_last a:after { content: ">>"; }
            .pagination_previous a:after { content: "<"; }
            .pagination_next a:after { content: ">"; }
            
        }
    }
    
    
    .pagination_previous a, .pagination_next a { 
        width: rhythm(1.5);
        height: rhythm(1.5);
        display: inline-block;
        text-indent: -9999px;
        @include box-shadow(rgba(0,0,0,.15) 0 0 10px);
        position: relative;
        
        &:after {
            font-family: "FontAwesome";
            text-indent: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: rhythm(1.5);
            text-align: center;
            line-height: rhythm(1.5);
        }
    }
    
    .pagination_previous a:after {
        content: "\f0d9";
    }
        
    .pagination_next a:after {
        content: "\f0da";
    }
    
    .item-pagination {
        clear:both;
        @include padding-trailer(.5);
    
        li {
            display:inline-block;
            background-color: #fff;
            margin: 0 0 rhythm(.5) 0;
            padding: rhythm(.25) 8px;
            @include box-shadow(rgba(0,0,0,.15) 0 0 10px);
            
            &:empty { display: none; }
        }
    
        .next { float: right; }
        .previous { float: left; }
    }


/* !---------- Header ---------- */

#site-title {
    font-size: 2 * $base-font-size;
    line-height: 2 * $base-line-height;
    font-weight: 300;
    text-align: center;
    margin: 0;
    @include padding-leader(.5);
    @include padding-trailer(.5);
}

#search-container {
    padding: 0 16px rhythm();
    
    &:after {
        content: "";
        display: block;
        height: 0;
        width: 100px;
        clear: both;
    }
}

#search-form{
    text-align: center;
    position: relative;
    overflow: visible;

    input[type=text], button {
        -webkit-appearance: none;
        -moz-appearance: none;
        @include border-radius(0px);
    }

    input[type=text] {
        width: 100%;
        @include adjust-font-size-to(14px);
        padding-right: rhythm(2);
    }
    
    button {
        width: rhythm(1.5);
        padding: 0;
        position: absolute;
        top: 0;
        right: 0;
        text-indent: -9999px;
        
        &:after {
            font-family: "FontAwesome";
            content: "\f002";
            position: absolute;
            left: 0;
            top: 0;
            text-indent: 0;
            width: rhythm(1.5);
            line-height: rhythm(1.5);
        }
    }
    
    &.with-advanced input[type=text] {
        padding-right: rhythm(3.5);
    }
    
    &.with-advanced button {
        right: rhythm(1.5);
    }
}

#advanced-search {
    width: rhythm(1.5);
    height: 35px;
    text-indent: -9999px;
    display: block;
    position: absolute;
    padding: 0;
    top: 0;
    right: 0;
    line-height: 30px;
    background-color: #4b6569;
    @include boxsizing(content-box);
    
    &:focus {
        outline: -webkit-focus-ring-color auto 5px;
    }

    &:link, &:hover, &:active, &:visited { color: #fff; }

    &:after {
        width: rhythm(1.5);
        content: "\2026";
        display: block;
        text-indent: 0;
        text-align: center;
        position: absolute;
        left: 0;
        top: 0;
        height: rhythm(1.5);
        line-height: rhythm(1.5);
        border-left: 1px solid rgba(255,255,255,.2);
    }
}

#advanced-form {
    display: none;
    background-color: #fff;
    overflow: auto;
    z-index: 1001;
    position: absolute;
    top: 35px;
    left: 0;
    border: 1px solid #e7e7e7;
    width: 100%;
    padding: rhythm(1) 16px;
    text-align: left;
    @include boxsizing(border-box);
    @include box-shadow(rgba(0,0,0,.25) 0 5px 10px);
    
    #query-types *:first-child {
        margin-top: 0;
    }
    
    label {
        margin: 0;
        padding: 0;
    }
    
    p {
        margin: rhythm(.5) 0;
        
        &:last-of-type { @include trailer(0); }
    }
}


/* !---------- Footer ---------- */

footer {
    @include leader();
    padding: 0 16px;

    
    p {
        @include padding-trailer();
    }
    
    &:empty { display: none; }
}


/* !---------- Content ---------- */


#content {
    clear:both;
    overflow:visible;
    padding: rhythm(1) 16px;
    @include pie-clearfix();

    h1 {
        font-size:1.5 * $base-font-size; 
        line-height: 2 * $base-line-height;
        text-transform: uppercase;
        border-top: 0;
        padding: 0 0 rhythm(.5);
        margin: 0;
    }

    & > h2, & > div > h2, #primary > h2, #primary > div > h2,
    #sidebar > h2, #sidebar > div > h2 {
        padding: 0 16px rhythm(.25);
        font-weight: 500;
        border-style: solid;
        border-width: 0 0 5px 0;
        margin: 0 0 rhythm(.5) -16px;
        width: 100%;
    }

    & > div, section {
        background-color: #fff;
        border-style: solid;
        border-width: 10px 0 0 0;
        overflow: visible;
        padding: rhythm(.5) 16px;
        @include box-shadow(rgba(0,0,0,.15) 0 0 10px);
        @include boxsizing(border-box);
        @include trailer(.75);

        & > *:only-child { margin-top: 0; }

        @include pie-clearfix();

    }
    
    .field {
        div:only-of-type { margin-bottom: 0; }
    }
    
    .inputs {
        padding: rhythm(.5) 0 0;
        clear: both;
    }
    
    & > .element { border-bottom: 0; }
    
    .element-set {
        div {
            @include padding-trailer(.5);
            margin-bottom: 0;
            
            &:only-of-type, &:last-of-type {
                border-bottom: 0;
                @include padding-trailer(.25);
            }
        }
    }

    .item-meta {
        padding-bottom: 0;
            
        .item-description { padding-top: 0; }
    
        .item-img {
            border: 1px solid $winter-light-gray;
            padding: 0;
            float: left;
            margin: 0 rhythm(.5) rhythm(.5) 0;
            
            img {
                margin: 0;
            }
        }
    }

    #search-filters, #item-filters {
        @include block-reset();
        @include trailer();
        
        & > ul { 
            float: left;
            padding-left: 0;
        }
        
        li {
            overflow: auto;
            padding: rhythm(.25) 8px;
            @include box-shadow(rgba(0,0,0,.15) 0 0 10px);
                        
            li { 
                display: inline;
                padding: rhythm(.25) 0;
                text-transform: lowercase;
                @include box-shadow(transparent 0 0 0); 
                &:last-of-type:after {
                    content: "";
                }
                &:after { 
                    content: ", "; 
                }
            }
        }
    }
    
    div.hTagcloud {
        border: 0;
        background-color: transparent;
        @include box-shadow(transparent 0 0 0);
        padding: 0;

        ul {
            list-style:none;
            margin:0;
            padding:0;
            li {
                display:inline-block;
                zoom: 1;
                background-color: #fff;
                margin: 0 8px rhythm(.5) 0;
                padding: rhythm(.25) 8px;
                @include box-shadow(rgba(0,0,0,.15) 0 0 10px);
            }
        }
    }

    .view-items-link {
        border-top: 1px solid $winter-light-gray !important;
        margin: rhythm(.5) 0 0 -16px !important;
        padding: rhythm(.5) 16px 0 !important;
        width: 100% !important;
        clear: both;
            
        & + div { 
            border-color: #DFE2E2;
            @include leader(.5);
            @include leading-border(1px, 1, $base-font-size, solid);
        }
    }

    #sort-links {
        border-top: 0;
        padding: rhythm(.25) 12px;
        @include trailer();

        span, ul, li { 
            display: inline-block; 
            margin: 0 4px;
            zoom: 1;
            display: inline;
        }
    }

    #sort-links-list { 
        padding-left: 0; 
    }
}

.asc a:after,
.desc a:after {
    font-family: "FontAwesome";
    display: inline-block;
    margin-left: 3px;
}

.asc a:after {
    content: "\f0d8";
}

.desc a:after {
    content: "\f0d7";
}

#primary {
    border-style: solid;
    border-width: 10px 0 0 0;
    overflow: visible;
    padding: rhythm() 16px;
    @include box-shadow(rgba(0,0,0,.15) 0 0 10px);
    @include boxsizing(border-box);
    @include trailer(.75);
    @include prefix(.5);
    @include suffix(.5);

    div {
        border-top: 0;
        @include box-shadow(transparent 0 0 0);
    }

    h1:first-child { margin-top: 0; }
    
    & > * { padding: 0; }
    
    & > ul, & > ol { padding-left: 1em; }
}


/* !---------- Home ---------- */

    #home {

        #content div {
            
            &#recent-items .item {
                @include bleed(16px);
                border-top: 1px solid $winter-light-gray;
                
                &:first-of-type { 
                    border-top: 0; 
                    
                    h3 { margin-top: rhythm(0); }
                }
                
                h3 { 
                    margin-top: rhythm(.5); 
                }
            }

            .items-list {
                margin: 0 -16px;

                .item-description {
                    margin: rhythm(.5) 0 0;
                }
            }

            h3, h4, h5, h6,
            p, input, textarea {
                margin-top: rhythm(.5);
                margin-bottom: rhythm(.5);
            }

            h3 {
                margin-top: 0;
                font-weight: 300;
                text-transform: uppercase;
            }
            
            img { 
                border: 1px solid $winter-light-gray;
                display: block;
                max-height: 100%;
                width: auto;
                @include boxsizing(border-box);
            }

            .show {
                display: block;
                text-transform: capitalize;
                &:before { content: "("; }
                &:after { content: "...)"; }
            }
            
            .view-items-link {
                border-top: 1px solid $winter-light-gray;
            }
            
            .item-img {
                display: inline;
            }
            
            .item-description {
                margin-top: 0;
                padding-top: 0;
            }

        }
        
        #intro {
            @include trailer();
        }
        
        #featured-item p { clear: both; }
        
        #featured-item img {
            margin-bottom: 0;
        }
        
        #recent-items h2 { @include padding-trailer(.5); }

    }


/* !---------- Items ---------- */

.items.show {
    
    h3 { @include trailer(.5); }
    
    #itemfiles {
            
        #item-images > div { 
            width: 22.5%; 
            display: inline-block;
            margin-right: 3%;
            
            &:nth-of-type(4n) { margin-right: 0; }
        }
            
        a {
            border: 1px solid $winter-light-gray;
            display: inline-block;
            zoom: 1;
            overflow: visible;
            margin: 0;
            padding: 0;
            @include boxsizing(border-box);
            
            img {
                width: 100%;
                height: auto;
                vertical-align: bottom;
            }
        }
        .element-text {
            div:first-of-type {
                border-top: 1px solid $winter-light-gray;
            }
        }
    }
    
    #primary .element:last-of-type { padding-bottom: 0; }

    #primary {
        @include block-reset(); 
        padding: 0;
        
        & > div {
            border-top-width: 10px;
            border-top-style: solid;
            @include box-shadow(rgba(0,0,0,.15) 0 0 10px);
        }
    }
}

#content #outputs {
    @include block-reset;
    clear: both;
    
    p { padding-left: 0; }
}

.item img {
    height: rhythm(3);
    width: auto;
    float: left;
    margin: 0 rhythm(.5) rhythm(.5) 0;
}


/* !---------- Search ---------- */

#search-results {
    background-color: #fff;
    @include trailer();
    @include box-shadow(rgba(0,0,0,.15) 0 0 10px);
    
    .record-image {
        height: rhythm(3);
    }
    
    th { 
        color: #fff;
    }
    
    th, td {
        padding: rhythm(.5) 8px;
        &:last-of-type { border-right: 0; }
        text-align: left;
        vertical-align: top;
    }
    
    td {
        border-color: #ddd;
        @include trailing-border(1px, 0, $base-font-size, solid);
        @include padding-leader(1);
    }
    
    .item img {
        margin: 0;
        height: 100%;
        width: auto;
    }
}

#no-results {
    clear: both;
}

    /* !---------- Advanced Search ---------- */
    
    .advanced-search #content form > div {
        background-color: #fff;
        border-style: solid;
        border-width: 10px 0 0 0;
        overflow: visible;
        padding: 0 16px;
        @include box-shadow(rgba(0,0,0,.15) 0 0 10px);
        @include boxsizing(border-box);
        @include trailer(.75);
        
        &:last-of-type { padding: 0; }
        
        input { 
            @include trailer(); 
        }
        
        .label {
            @include trailer(.5);
            @include leader(.5);
        }
        
        @include pie-clearfix();
    }

    .search-entry { 
        
        select, input[type=text] {
            width: 28%;
        }
        
        select {
            margin-right: 1%;
        }
        
        &:first-of-type { padding-bottom: 0; }
        
        &:only-of-type, { @include trailer(0); }
    }

    .remove_search {
        text-indent: -9999px;
        width: 1.5 * $base-line-height;
        position: relative;
        height: 1.5 * $base-line-height;
        
        &:after {
            content: "\f00d";
            font-family: "FontAwesome";
            text-indent: 0;
            text-align: center;
            width: 100%;
            top: 0;
            left: 0;
            position: absolute;
            line-height: 1.5 * $base-line-height;
        }
    }

    .advanced-search {
        button {
            display: inline-block;
            margin: 0 0 rhythm(1);
        }
        
        #advanced-search-form > div:last-of-type {
            border: 0;
            background-color: transparent;
            float: left;
            @include pie-clearfix();
        }
        
        #submit_search_advanced {
            margin-bottom: 0 !important;
        }
            
    }


/* !---------- File Pages ---------- */

.files {
    #primary { 
        @include block-reset(); 
        padding-top: 0;
        
        &:first-child { margin-top: 0; }
    }
    
    #content #sidebar h3 { padding-left: 0; }
    
    .download-file { 
        @include boxsizing(border-box);
        overflow: auto;
        padding: rhythm(.25);
        display: inline-block;
        
        img {
            max-width: 100%; 
            vertical-align: bottom;
            float: left;
        }
    }
    
    .item-file { 
        text-align: center; 
        
        & > div {
            display: inline-block;
        }
    }
}


/* !---------- Collections ---------- */

.collections {
    
    &:only-of-type, &:last-of-type { 
        border-bottom: 0; 
        margin-bottom: 0;
    }
    
    #content .element-set .element {
        @include trailer();
        
        &:last-of-type { margin-bottom: 0; }
    }

    #collection-items .item {
        border-top: 1px solid $winter-light-gray;
        margin: 0 -16px;
        padding: 0 16px rhythm();
        overflow: hidden;

        &:first-of-type { border-top: 0; }
        
        &:last-of-type { @include padding-trailer(.5) }
        
        div:only-of-type { margin-bottom: 0; }
    }
    
    .collection {
        clear: both;
    }
    
    h3:only-child {
        @include trailer(0);
    }
}


/* !---------- ExhibitBuilder ---------- */

.exhibits {
    
    #content .navigation {
        padding-left: 0; 
        @include pie-clearfix();

        .current, .active { font-weight: 500; }
    }
    
    #content .primary { padding-bottom: 0; }
    
    .exhibit {
        clear: both;
    }
        
    .exhibit-page { font-weight: bold; }
    
    &.summary #content {
        h1 { @include trailer(.5); }
        
        #primary > div {
            @include block-reset; 
            
            &:last-child { margin-bottom: 0; }
        }
    }
    
    &.show #content { 
        h1 { 
            font-size: 2 * $base-font-size;
        }
        
        #primary {
        
            &:first-child { @include leader(); }
            
            p, ol, ul { 
                @include trailer(); 
            }
        }
        
        .exhibit-item { padding-top: 0; }
        
        #exhibit-page-navigation {
            @include block-reset();

            a, span {
                padding: rhythm(.25) 0;
                display: inline-block;
                width: 100%;
                @include box-shadow(rgba(0,0,0,.15) 0 0 10px);
                @include boxsizing(border-box);
            }

            & > div { 
                padding: 0; 
                width: 100%;
                text-align: center;
            }
            
            #exhibit-nav-next { @include trailer(); }
        }
        
        #exhibit-pages ul { margin-left: 0 !important; }
         
        .exhibit-page-nav, .exhibit-child-nav { 
            margin-left: 0; 
            padding-left: 0;
            
            .current { 
                font-weight: bold; 
            }

        }

        .exhibit-page-nav {
        
            @include box-shadow(rgba(0,0,0,.15) 0 0 10px);
            @include trailer();

            a { padding: 0; }

            & > li:nth-child(2) {
                background-color: rgba(0,0,0,.1);
            }
            
            & > li:nth-child(3) {
                background-color: rgba(0,0,0,.2);
            }
            
            & > li:nth-child(4) {
                background-color: rgba(0,0,0,.3);
            }
            
            & > li {
                display: block;
                float: none;
                overflow: auto;
                margin-right: 0;
                
                &:first-of-type {
                    text-transform: uppercase;
                    padding: rhythm(.25) 8px;
                    
                    a:after { content: ":"; }
                }
                
                ul {
                    padding-left: 0;
                    
                    li { 
                        display: inline-block; 
                        padding: rhythm(.25) 8px;
                        width: auto;

                    }
                }
            }
        }
    }
    
    
    #content { 
        #secondary-nav .current a,
        #secondary-nav a.current,
        .exhibit-section-nav .current a {
            background-color: transparent;
        }
    }
}

#content .exhibit-items,
#content .gallery {
    padding-bottom: 0;
}

.summary #exhibit-pages {
    border-style: solid;
    border-width: 10px 0 0 0;
    overflow: visible;
    @include box-shadow(rgba(0,0,0,.15) 0 0 10px);
    padding: rhythm() 16px;
    background-color: #fff;
    
    ul { 
        margin-left: 0; 
        padding-left: 0;
        
        ul { 
            padding-left: 16px; 
        }
    }
}

.exhibit-block:first-child p:first-of-type { margin-top: 0; }

#content .exhibit-item:empty { padding: 0; }

.gallery-full-left, .gallery-full-right, .gallery-thumbnails,
.gallery-thumbnails-text-bottom, .gallery-thumbnails-text-top, .image-list-left,
.image-list-left-thumbs, .image-list-right, .image-list-right-thumbs,
.text-full, .text-image-left, .text-image-right {
    padding: rhythm(1) 0;
    @include leader();
    
    div:empty { display: none; }
}

#content .layout-text p:only-child {
    @include leader();
}


/* !---------- Simple Pages ---------- */

.simple-pages-navigation {
    list-style:none;
}
.simple-pages-navigation ul {
    display:none;
}
.simple-pages-navigation .current ul {
    display:block;
}

.simple-pages-navigation a {
    text-decoration:none;
    border-bottom:1px solid #ddd;
    display:block;
    font-weight:bold;
    padding:4px;
}

#simple-pages-breadcrumbs {
    font-weight:bold;
    @include trailer();
}


/* !---------- Winter Styles ---------- */

.winter {

    body {
        background-color: $winter-footer-blue;
        color: $winter-dark-gray;
    }
    
    h1, #site-title a { color:#859ca2; }

    input[type=submit], button, .button, #advanced-search { background-color: $winter-slate; }

    input[type=text], input[type=password], textarea { background-color: $winter-light-gray; }

    a {
        &:link { color: $winter-bright-blue; }
        &:visited { color: $winter-pale-blue; }
        &:hover, &:active { color: $winter-hover-blue; }
    }
    
    header { background-color: #fff; }
    
    nav.top { 
        background-color: $winter-bright-blue; 
        
        li:hover a { color: #fff; }

        a:link, a:visited  { color: $winter-blue-on-pale-blue; }
        a:active, a:hover  { color: #fff; }
        
        ul li ul {
            background-color: $winter-bright-blue;
            li {
                & > a:link, & > a:visited, & > a:active, & > a:hover { color:#fff; }
            }
        }
    }

    #intro { color: #fff; }
    
    #content,
    #secondary-nav .current a,
    #secondary-nav a.current,
    .secondary-nav .current a,
    .secondary-nav a.current,
    .exhibit-section-nav .current a {
        background-color: $winter-pale-blue;
    }

    #home #content > div { 
        border-color: $winter-slate; 
    }

    #content {
        
        h1 { color: #fff; }
        
        h2 { border-color: $winter-light-gray; }

        div { border-color: $winter-title-blue; }
        
        & > div, #primary > div, #sidebar > div,
        #advanced-search-form > div, #exhibit-pages { 
            border-color: $winter-slate;
        }
        
        #primary > div, #sidebar > div { background-color: #fff; }
    
        .pagination_previous a, .pagination_next a { 
            background-color: $winter-bright-blue; 
        }
        
        .pagination { 
            a:link, a:visited { color: $winter-blue-on-pale-blue; }
            a:hover, a:active { color: #fff; }
        }
               
        .pagination input[type=text] { border-color: $winter-light-gray; }

        nav .pagination_list { 
            background-color: $winter-bright-blue;             
        }
        
        .items-nav, .secondary-nav, #secondary-nav, #outputs, #exhibit-child-pages {
            a:link, a:visited { color: $winter-blue-on-pale-blue; }
            a:hover, a:active { color: #fff; }
        }
        
        .item-img { border-color: $winter-light-gray; }
        
        div.hTagcloud {
            border: 0;
            background-color: transparent;
            @include box-shadow(transparent 0 0 0);
        }
    }

    #search-results th { background-color: $winter-slate; }

    #search-filters, #item-filters {
        li { background-color: $winter-blue-on-pale-blue; }
    }
    
    .page #content { 
        border-color: $winter-slate; 
    }

    footer {
        background-color: $winter-footer-blue;
    }

    footer p {
        color:#fff;
    }
    
    .exhibit-page-nav { background-color: $winter-slate; }
    
    .exhibit-page-nav .current, .exhibit-child-nav .current { background-color: rgba(0,0,0,.1); }
    
    .exhibit-page-nav {
        a:link, a:visited { color: $winter-blue-on-pale-blue; }
        a:hover, a:active { color: #fff; }
    }

    #exhibit-page-navigation {
        a, span { background-color: #fff; }
    }
} 


/* !---------- Spring Styles ---------- */

.spring {

    body {
        background-color: $spring-dark-green;
        color: $spring-brown;
    }
    
    h1, #site-title a { color: $spring-dark-green; }

    input[type=submit], button, .button, #advanced-search {  background-color: $spring-red; }

    input[type=text], input[type=password], textarea { 
        background-color: #fff; 
        border: 1px solid #e8e8e8;
    }

    a {
        &:link { color: $spring-link; }
        &:visited { color: $spring-visited; }
        &:hover, &:active { color: $spring-active; }
    }

    header { background-color: $spring-light-green; }
    
    nav.top { 
        background-color: $spring-green; 

        li:hover a { color: #fff; }
        
        a:link, a:visited  { color: $spring-light-green; }
        a:active, a:hover  { color: $spring-white; }
        
        ul li ul {
            background-color: $spring-green;
            li {
                & > a:link, & > a:visited { color: $spring-light-green; }
                & > a:active, & > a:hover, &:hover > a { color:#fff; }
            }
        }
    }
    
    #intro { color: $spring-link; }

    #content,
    #secondary-nav .current a,
    #secondary-nav a.current,
    .secondary-nav .current a,
    .secondary-nav a.current,
    .exhibit-section-nav .current a {
        background-color: $spring-white;
    }

    #home #content > div { 
        border-color: $spring-red; 
    }

    #content {
        h1 { color: $spring-link; }
        
        h2 { border-color: #e8e8e8; }

        & > div, #primary > div, #sidebar > div,
        #advanced-search-form > div, #exhibit-pages { 
            border-color: $spring-red; 
        }

        #primary > div, #sidebar > div { background-color: #fff; }

        .pagination_previous a, .pagination_next a { 
            background-color: $spring-green; 
        }
        
        .pagination { 
            a:link, a:visited { color: $spring-light-green; }
            a:hover, a:active { color: #fff; }
        }
               
        .pagination input[type=text] { border-color: $spring-light-green; }

        nav .pagination_list { 
            background-color: $spring-green;             
        }
    
        .items-nav {
            a:link, a:visited { color: $spring-green; }
            a:active, a:hover { color: $spring-hover-green; }
        }
        
        .item-img { border-color: #e8e8e8; }
        
        div.hTagcloud {
            border: 0;
            background-color: transparent;
            @include box-shadow(transparent 0 0 0);
        }
    }

    #search-results th { background-color: $spring-red; }

    #search-filters, #item-filters {
        li { background-color: $spring-yellow; }
    }
    
    .page #content { 
        border-color: $spring-red; 
    }

    footer {
        background-color: $spring-dark-green;
    }

    footer p {
        color:#000;
    }
    
    .exhibit-page-nav { background-color: $spring-red; }
    
    .exhibit-page-nav .current, .exhibit-child-nav .current { background-color: rgba(0,0,0,.1); }

    .exhibit-page-nav {
        a:link, a:visited { color: $spring-yellow; }
        a:hover, a:active { color: #fff; }
    }

    #exhibit-page-navigation {
        a, span { background-color: #fff; }
    }
} 


/* !---------- Summer Styles ---------- */

.summer {

    body {
        background-color: $summer-dark-blue;
        color: $summer-gray;
    }
    
    h1, #site-title a { color: $summer-title-blue; }

    input[type=submit], button, .button, #advanced-search { background-color: $summer-blue; }

    input[type=text], input[type=password], textarea { 
        background-color: $summer-light-blue; 
        color: $summer-title-blue;
    }

    a {
        &:link { color: $summer-link-red; }
        &:visited { color: $summer-visited-red; }
        &:hover, &:active { color: $summer-active-red; }
    }

    header { background-color: #fff; }
    
    nav.top { 
        background-color: $summer-yellow; 

        li:hover a { color: $summer-dark-blue; }
        
        a:link, a:visited  { color: $summer-title-blue; }
        a:active, a:hover  { color: $summer-dark-blue; }
        
        ul li ul {
            background-color: $summer-yellow;
            li {
                & > a:link, & > a:visited { color: $summer-title-blue; }
                & > a:active, & > a:hover, &:hover > a { color: $summer-dark-blue; }
            }
        }
    }
    
    #intro { color: $summer-link-red; }

    #content,
    #secondary-nav .current a,
    #secondary-nav a.current,
    .secondary-nav .current a,
    .secondary-nav a.current,
    .exhibit-section-nav .current a {
        background-color: $summer-light-yellow;
    }

    #home #content > div { 
        border-color: $summer-blue; 
    }
    
    #item h1 { color: $summer-link-red; }
    
    #content {

        h1 { color: $summer-link-red; }
        
        h2 { border-color: $summer-light-red; }

        & > div, #primary > div, #sidebar > div,
        #advanced-search-form > div, #exhibit-pages { 
            border-color: $summer-blue; 
        }
        
        #primary > div, #sidebar > div { background-color: #fff; }

        .pagination_previous a, .pagination_next a { 
            background-color: $summer-blue; 
        }
        
        .pagination { 
            a:link, a:visited { color: $summer-light-blue; }
            a:hover, a:active { color: #fff; }
        }
               
        .pagination input[type=text] { border-color: $summer-light-blue; }

        nav .pagination_list { 
            background-color: $summer-blue;             
        }
        
        .items-nav {
            a:link, a:visited { color: $summer-link-red; }
            a:active, a:hover { color: $summer-active-red; }
        }
        
        .item-img { border-color: $summer-light-blue; }
        
        div.hTagcloud {
            border: 0;
            background-color: transparent;
            @include box-shadow(transparent 0 0 0);
        }
    }

    #search-results th { background-color: $summer-blue; }

    #search-filters, #item-filters {
        li { background-color: #fff; }
    }

    .page #content { 
        border-color: $summer-blue; 
    }

    footer {
        background-color: $summer-dark-blue;
    }

    footer p {
        color:#fff;
    }
    
    .exhibit-page-nav { background-color: $summer-blue; }

    .exhibit-page-nav .current, .exhibit-child-nav .current { background-color: rgba(0,0,0,.1); }

    .exhibit-page-nav {
        a:link, a:visited { color: $summer-yellow; }
        a:hover, a:active { color: #fff; }
    }

    #exhibit-page-navigation {
        a, span { background-color: #fff; }
    }
} 


/* !---------- Autumn Styles ---------- */

.autumn {

    body {
        background-color: $autumn-dark-red;
        color: $autumn-dark-red;
    }
    
    h1, #site-title a { color: $autumn-beige; }

    input[type=submit], button, .button, #advanced-search { background-color: $autumn-dark-red; }

    input[type=text], input[type=password], textarea { 
        background-color: $autumn-beige; 
        color: $autumn-brown;
    }

    a {
        &:link { color: $autumn-link; }
        &:visited { color: $autumn-visited; }
        &:hover, &:active { color: $autumn-active; }
    }

    header { background-color: $autumn-red; }
    
    nav.top { 
        background-color: $autumn-dark-beige; 

        li:hover a { color: #fff; }
        
        a:link, a:visited  { color: $autumn-nav-link; }
        a:active, a:hover  { color: #fff; }
        
        ul li ul {
            background-color: $autumn-dark-beige;
            li {
                & > a:link, & > a:visited { color: $autumn-nav-link; }
                & > a:active, & > a:hover, &:hover > a { color:#fff; }
            }
        }
    }
    
    #intro { color: $autumn-brown; }

    #content,
    #secondary-nav .current a,
    #secondary-nav a.current,
    .secondary-nav .current a,
    .secondary-nav a.current,
    .exhibit-section-nav .current a {
        background-color: $autumn-beige;
    }

    #home #content > div { 
        border-color: $autumn-dark-beige; 
    }

    #content {
        h1 { color: $autumn-brown; }
        
        h2 { border-color: $autumn-gray; }

        #primary > div, #sidebar > div { background-color: #fff; }

        & > div, #primary > div, #sidebar > div,
        #advanced-search-form > div, #exhibit-pages { 
            border-color: $autumn-dark-beige; 
        }

        .pagination_previous a, .pagination_next a { 
            background-color: $autumn-dark-red; 
        }
                       
        .pagination input[type=text] { 
            border-color: #fff; 
            background-color: #fff;
        }

        nav .pagination_list { 
            background-color: $autumn-dark-red;             
        }
        
        .item-img { border-color: $autumn-gray; }
        
        div.hTagcloud {
            border: 0;
            background-color: transparent;
            @include box-shadow(transparent 0 0 0);
        }
    }

    #search-results th { background-color: $autumn-dark-beige; }

    #search-filters, #item-filters {
        li { background-color: #fff; }
    }

    .page #content { 
        border-color: $autumn-dark-beige; 
    }

    footer {
        background-color: $autumn-dark-red;
    }

    footer p {
        color:#fff;
    }

    .exhibit-page-nav { background-color: $autumn-dark-red; }

    .exhibit-page-nav .current, .exhibit-child-nav .current { background-color: rgba(0,0,0,.1); }

    .exhibit-page-nav {
        a:link, a:visited { color: $autumn-dark-beige; }
        a:hover, a:active { color: #fff; }
    }
    
    #exhibit-page-navigation {
        a, span { background-color: #fff; }
    }
} 


/* !---------- Night Styles ---------- */

.night {

    body {
        background-color: $night-darkest;
        color: $night-text-on-darker;
    }
    
    h1 { color: $night-light; }
    
    #site-title a { color: $night-link; }

    input[type=submit], button, .button, #advanced-search { 
        background-color: $night-highlight; 
        color: $night-darker;
    }

    input[type=text], input[type=password], textarea { 
        background-color: $night-darker; 
        border: 1px solid $night-highlight;
        color: $night-text-on-darker;
    }

    a {
        &:link { color: $night-link; }
        &:visited { color: $night-visited; }
        &:hover, &:active { color: $night-active; }
    }

    header { background-color: $night-darkest; }
    
    nav.top { 
        background-color: $night-light; 

        li:hover a { color: $night-shadow; }
        
        a:link, a:visited  { color: $night-visited-nav; }
        a:active, a:hover  {  }
        
        ul li ul {
            background-color: $night-highlight;
            li {
                & > a:link, & > a:visited { color: $night-link; }
                & > a:active, & > a:hover, &:hover > a { color: $night-active; }
            }
        }
    }
    
    #intro { color: $night-light; }

    #content,
    #secondary-nav .current a,
    #secondary-nav a.current,
    .exhibit-section-nav .current a {
        background-color: $night-content;
    }
    
    #advanced-form {
        background-color: $night-darker;
        color: $night-text-on-darker;
        border-width: 0 1px 1px 1px;
        border-style: solid;
        border-color: $night-shadow;
    }

    #home #content > div { 
        border-color: $night-highlight; 
    }
    
    #home #content div .items-list .item {
        border-top: 1px solid $night-shadow;
        
        &:first-of-type {
            border-top: 0;
        }
    }

    
    #home #content > div img, .items.show #itemfiles a,
    #home #content .item, #home #content div .view-items-link,
    .collections #content div .view-items-link { 
        border-color: $night-shadow; 
    }

    #content {
        h1 { color: $night-light; }
        
        h2 { border-color: $night-shadow; }

        & > div, #primary > div, #sidebar > div,
        #advanced-search-form > div, #exhibit-pages { 
            border-color: $night-highlight; 
            background-color: $night-darker;
        }

        #primary > div, #sidebar > div,
        .item-pagination li { background-color: $night-darker; }
    
        .pagination_previous a, .pagination_next a { 
            background-color: $night-darker; 
        }
        
        nav .pagination_list { 
            background-color: $night-darker;             
        }

        .pagination_previous a, .pagination_next a { 
            background-color: $night-darker; 
        }

        .item-img { border-color: $night-shadow; }
        
        div.hTagcloud {
            border: 0;
            background-color: transparent;
            @include box-shadow(transparent 0 0 0);
        }
        
    }
    
    #search-results th { 
        background-color: $night-highlight; 
        color: $night-light;
    }
    
    #search-results td { background-color: $night-darker; }

    #search-filters, #item-filters {
        li { background-color: $night-highlight; }
    }

    .page #content { 
        border-color: $night-highlight; 
    }
    
    .page #primary { background-color: $night-darker; }

    footer {
        background-color: transparent;
    }

    footer p {
        color: $night-text-on-darker;
    }

    .exhibit-page-nav { background-color: $night-darker; }

    .exhibit-page-nav .current, .exhibit-child-nav .current { background-color: rgba(255,255,255,.1); }
    
    #exhibit-page-navigation {
        a, span { background-color: $night-darker; }
    }
    
    .exhibits.show #content .exhibit-page-nav > li:nth-child(3) {
        background-color: rgba(255,255,255,.08);
    }
    
    .exhibits.tags #content p:only-of-type {
        background-color: $night-darker;
        border-color: $night-highlight;
    }
    
    #content div.hTagcloud ul li { background-color: $night-darker; }
} 
