/* -------------------------------------------------------------------------*/
/* Layout */

.container {
  @include container;
}

/* -------------------------------------------------------------------------*/

/* == Generic == */
body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: $base-font-size;
    line-height: $base-line-height;
    word-wrap: break-word;
    height: 100%;
}

a { text-decoration: none; }

/* -- Headings -- */

h1, h2, h3, h4, h5, h6 { @include trailer(); }

h1 {
    font-size: 2 * $base-font-size;
    line-height: 2 * $base-line-height;
}

h2 {
    font-size:1.5 * $base-font-size; 
    line-height: 1.5 * $base-line-height;
}

h3 {
    font-size: 1.25 * $base-font-size; 
    line-height: 1.25 * $base-line-height;
    font-weight: 500;
}

h4 { 
    font-size: 1.125 * $base-font-size;
    line-height: 1.125 * $base-line-height; 
}

h5, h6 {
    font-size: $base-font-size;
    line-height: $base-line-height;
}

/* -- Form Elements -- */

label {
    @include padding-leader(.5);
    @include padding-trailer(.5);
    display: inline-block;
}

input[type=text], input[type=password], textarea,
input[type=submit], button, .button {
    height: 35px;
    border: 0;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-family: "Ubuntu", sans-serif;
    padding: rhythm(.3125) 16px;
    margin: 0;
    @include adjust-font-size-to(14px);
    @include boxsizing(border-box);
}

input[type=text], input[type=password], textarea {
    width: 100%;
}

select {
    width: 100%;
    margin-top: 0;
    font-size: $base-font-size;
    line-height: $base-line-height;
    @include trailer();
}

input[type=submit], button, .button {
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
    
    
    /* -- Misc Classes -- */
    .center-div {
        margin:0 auto;
        overflow: auto;
    }
        
        /* Pagination Classes */
        
        .item-pagination {
            overflow: auto;
            clear:both;
            @include padding-trailer(.5);

            li {
                display:inline-block;
                background-color: #fff;
                margin: 0 0 rhythm(.5) 0;
                padding: rhythm(.25) 8px;
                @include box-shadow(rgba(0,0,0,.15) 0 0 10px);
                
                &:empty { display: none; }
            }

            .next { float: right; }
            .previous { float: left; }
        }
        
        
        /* Item Classes */
        
/* == Header == */

header { 
    padding: 0 16px;

}

#site-title {
    font-size: 2 * $base-font-size;
    line-height: 2 * $base-line-height;
    font-weight: 300;
    text-align: center;
    margin: 0;
    @include padding-leader(.5);
    @include padding-trailer(.5);
}

#search-container {
    @include padding-trailer();
    
    &:after {
        content: "";
        display: block;
        height: 0;
        width: 100px;
        clear: both;
    }
}

#search-form{
    text-align: center;
    position: relative;
    overflow: auto;

    input[type=text] {
        width: 60%;
        @include adjust-font-size-to(14px);
        float: left;
        
    }
    
    input[type=submit] {
      width: 30%;
      padding: 0;
      position: absolute;
      top: 0;
      left: 60%;
    }
}

#advanced-search {
    width: 10%;
    height: 35px;
    text-indent: -9999px;
    display: block;
    position: absolute;
    padding: 0;
    top: 0;
    left: 90%;
    font-weight: bold;
    line-height: 27px;
    @include has-layout-zoom();
    @include boxsizing(content-box);
    *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '+');
    *text-indent: 0;

    
    &:link, &:hover, &:active, &:visited { color: #fff; }

    &:after {
        content: "+";
        display: block;
        text-indent: 0;
        text-align: center;
        margin-top: -1.75em;
    }
}

#advanced-form {
    display: none;
    background-color: #fff;
    overflow: auto;
    clear: both;
    z-index: 1001;
    position: absolute;
    top: 35px;
    left: 0;
    border: 1px solid #e7e7e7;
    width: 100%;
    padding: rhythm(1) 16px;
    text-align: left;
    @include boxsizing(border-box);
    @include box-shadow(rgba(0,0,0,.25) 0 5px 10px);
    
    #query-types *:first-child {
        margin-top: 0;
    }
    
    label {
        margin: 0;
        padding: 0;
    }
    
    p {
        @include leader(.5);
        @include trailer(.5);
    }
}

/* == Footer == */
footer {
    @include leader();
    padding: 0 16px;

    
    p {
        @include padding-trailer();
    }
    
    &:empty { display: none; }
}

/* == Content == */

    /* -- Structure -- */
    #content {
        clear:both;
        overflow:visible;
        padding: rhythm(1) 16px;
    }
    
    /* -- General -- */
    #home {

        #content div {
            background-color: #fff;
            padding-bottom: rhythm(.5);
            border-top: 10px solid;
            @include boxsizing(border-box);
            @include trailer(.5);
            @include box-shadow(rgba(0,0,0,.15) 0 0 10px);
            
            div {
                background: transparent;
                @include box-shadow(transparent 0 0 0);
                padding-bottom: 0;
                border: 0;
            }
            
            .item {
                border-top: 1px solid $winter-light-gray;
                overflow: auto;
                
                h3 { margin-top: rhythm(.5); }
            }

            .items-list {
                margin-bottom: 0;
                .item-description {
                    margin: rhythm(.5) 16px 0;
                }
            }

            h1, h2, h3, h4, h5, h6,
            p, input, textarea {
              margin: rhythm(.5) 16px;
            }
            
            h2 {
                margin-bottom: 0;
                font-weight: 700;
            }
            
            h3 {
                margin-top: 0;
                font-weight: 300;
                text-transform: uppercase;
            }
            
            img { 
                margin: 0 16px rhythm(.5); 
                border: 1px solid $winter-light-gray;
                display: block;
                max-width: 100%;
                height: auto;
            }

            .show {
                display: block;
                text-transform: capitalize;
                &:before { content: "("; }
                &:after { content: "...)"; }
            }
            
            .view-items-link {
                margin: 0;
                padding: rhythm(.5) 16px 0;
                border-top: 1px solid $winter-light-gray;
            }

        }
        
        #intro {
            @include trailer();
        }
        
        #featured-item p { clear: both; }
        
        #recent-items h2 { @include padding-trailer(.5); }

    }
        
    /* -- Navigation -- */
    nav {
        ul {
            list-style:none;
            margin:0 auto;
        }
        
        li {
            display:block;
            width: 100%;
            
            ul li {
                padding-left: 16px;
            }
        }
        
        a {
            display: inline-block;
            @include padding-leader(.5);
            @include padding-trailer(.5);
        }
    }
    
    .top {
        padding: 0 16px;
        ul {
        display: none;
        padding: 0;
        }
        
        .mobile {
            margin: rhythm(1) auto;
            width: 100%;
        }
    }
      

/* == Items Pages == */
#primary {
    
    @include pie-clearfix();
    
    h1, h2, h3, h4, h5, h6, p, label {
      padding: rhythm(.5) 16px; 
    }

    h1 {
        font-size:1.5 * $base-font-size; 
        line-height: 1.5 * $base-line-height;
        text-transform: uppercase;
        border-top: 0;
        padding: 0 0 rhythm(.5) 0;
        @include trailer(.25);
    }
    
    h2 {
        margin-bottom: 0;
        font-weight: 500;
        border-bottom: 5px solid;
    }
    
    h3 {
        @include trailer(.5);
    }
    
    #collection, #item-tags, #item-citation {
        background-color: #fff;
        border-top: 10px solid;
        @include boxsizing(border-box);
        @include padding-leader(.5);
        @include trailer();
        @include box-shadow(rgba(0,0,0,.15) 0 0 10px);

        @include trailer(.75);
        
        h3 { padding: 0 16px; }
        
        div { 
            padding: 0 16px rhythm(.25);
            &:first-of-type { border-top: 0; }
        }
    }

    div, section {
        background-color: #fff;
        border-top: 10px solid;
        overflow: visible;
        @include box-shadow(rgba(0,0,0,.15) 0 0 10px);
        @include boxsizing(border-box);
        @include trailer(.75);

        .view-items-link { padding: rhythm(.25) 16px rhythm(.75); }
        
        div { 
            padding: rhythm(.5) 16px 0; 
            @include box-shadow(transparent 0 0 0);
            border-top: 0;
            
            div, h1, h2, h3, h4, h5, h6, p { 
                padding: 0; 
                
                &:first-of-type { border-top: 0; }
            }
        }

        @include pie-clearfix();

    }
    
    .field {
        div:only-of-type { margin-bottom: 0; }
    }
    
    .inputs {
        padding: rhythm(.5) 16px rhythm(1);
        clear: both;
        
        div:last-of-type, div:only-of-type, *:only-child, *:last-child {
            margin-bottom: 0;
        }
    }
    
    & > .element { border-bottom: 0; }

    & > * > .element {
        @include trailer(.5);
        border-bottom: 1px solid $winter-light-gray;

        div {
            @include padding-trailer(.5);
            
            &:only-of-type, &:last-of-type {
                border-bottom: 0;
                padding-bottom: 0;
            }
        }
    }

    
    .element-set {
        div {
            @include padding-trailer(.5);
            margin-bottom: 0;
            
            &:only-of-type, &:last-of-type {
                border-bottom: 0;
                @include padding-trailer(.25);
            }
        }
    }
        
    .item-img {
        max-width: 100%;
        display: inline-block;
        border: 1px solid $winter-light-gray;
        width: 20%;
        margin: rhythm(.5) 16px;
        float: left;
        padding: 0;
        overflow: visible;
        @include box-shadow(border-box);
        
        img {
            width: 100%;
            height: auto;
            margin: 0;
            vertical-align: bottom;
        }

    }

    .pagination_list { 
        @include box-shadow(rgba(0,0,0,.15) 0 0 10px);
        @include leader(.25);
        @include trailer();
        padding: rhythm(.25) 0;
        text-align: center;
        
        li { 
            display:inline-block;
            color: #fff;
            margin: 0 4px;
            zoom: 1;
            *display: inline;
        }
        
        .pagination_current { font-weight: 500; }
        
        .pagination_first, .pagination_last,
        .pagination_previous, .pagination_next {
            a {
                display: inline-block;
                text-indent: -9999px;
                &:after {
                    text-indent: 0;
                    display: block;
                    margin-top: -2em;
                }
            }
        }

        .pagination_first a:after { content: "<<"; }
        .pagination_last a:after { content: ">>"; }
        .pagination_previous a:after { content: "<"; }
        .pagination_next a:after { content: ">"; }
        
    }

    #search-filters {
        border-top: 0;
        background-color: transparent;
        @include box-shadow(transparent 0 0 0);
        @include trailer();
        
        li {
            overflow: auto;
            padding: rhythm(.25) 8px;
            @include box-shadow(rgba(0,0,0,.15) 0 0 10px);
                        
            li { 
                display: inline;
                padding: rhythm(.25) 0;
                text-transform: lowercase;
                @include box-shadow(transparent 0 0 0); 
                &:last-of-type:after {
                    content: "";
                }
                &:after { 
                    content: ", "; 
                }
            }
        }
    }
    
    div.hTagcloud {
        border-top: 0;
        background-color: transparent;
        @include box-shadow(transparent 0 0 0);
        ul {
            list-style:none;
            margin:0;
            padding:0;
            li {
                display:inline-block;
                background-color: #fff;
                margin: 0 8px rhythm(.5) 0;
                padding: rhythm(.25) 8px;
                @include box-shadow(rgba(0,0,0,.15) 0 0 10px);
            }
        }
    }
}

#items {

    h1 { 
        margin-bottom: 0; 
        padding-bottom: 0;
    }

    .items-nav {
        .active { font-weight: 500; }
        @include trailer(.25);
        @include pie-clearfix();
        
        li { 
            display: inline-block; 
            float: left;
            width: auto;
            margin-right: 16px;
        }
    }
    
    #sort-links {
        border-top: 0;
        padding: rhythm(.25) 12px;
        *border: 1px solid #e8e8e8;
        @include trailer();
        span, ul, li { 
            display: inline-block; 
            margin: 0 4px;
            zoom: 1;
            display: inline;
        }
    }

    &.advanced-search {
        .remove_search {
            @include leader();
            margin-left: 0;
        }
        
        select { float: left; }
        
        button {
            display: inline-block;
            margin: 0 16px rhythm();
        }
        
        #advanced-search-form > div:last-of-type {
            border-top: 0;
            background-color: transparent;
            float: left;
            @include pie-clearfix();
        }
    }
}

#item {
    #itemfiles {
        h3 {
            margin-bottom: 0;
        }
        .item-file {
            border: 1px solid $winter-light-gray;
            display: inline-block;
            zoom: 1;
            *display: inline;
            width: 20%;
            overflow: visible;
            margin-right: 16px;
            padding: 0;
            @include boxsizing(border-box);
            img {
                width: 100%;
                height: auto;
                vertical-align: bottom;
            }
        }
        .element-text {
            div:first-of-type {
                border-top: 1px solid $winter-light-gray;
            }
            padding: 0 16px;
        }
    }
}

#collections {
    &:only-of-type, &:last-of-type { 
        border-bottom: 0; 
        margin-bottom: 0;
    }
}

#collection {
    
    #collection-items {
        div {
        border-top: 1px solid $winter-light-gray;

            &:first-of-type {
                border-top: 0;
            }
            
            div:only-of-type {
                margin-bottom: 0;
            }
        }
    }
}

#search {
    #search-results {
        background-color: #fff;
        @include trailer();
        @include box-shadow(rgba(0,0,0,.15) 0 0 10px);
        
        th { 
            color: #fff;
        }
        
        th, td {
            padding: rhythm(.5) 8px;
            &:last-of-type { border-right: 0; }
        }
        
    }
}

    /* Advanced Search */
/* == Exhibit Pages == */
#exhibits p {
    padding:5px 20px 0;
}

#exhibits .exhibit,
#exhibit-summary,
#exhibit-show {
    clear:both;
    padding:10px 20px;
}

#exhibit-summary h3 {
    padding:3px 0;
}
#exhibit-summary p,
#exhibit-show p {
    padding-bottom:5px;
}
.exhibit-section-nav {
    list-style:none;
    margin-top:1em;
}
.exhibit-section-nav li {
    display:inline;
}
.exhibit-section-nav {
    margin-bottom:1em;
}
.exhibit-section-nav li {
    padding:0.5em 0;
}
.exhibit-section-nav a {
    padding:0.5em 1em 0.5em;
}
.exhibit-section-nav .current a,
.exhibit-page-nav .current a {
    font-weight:bold;
}
.exhibit-page-nav {
    margin:10px 0;
    clear:both;
}
ul.exhibit-page-nav {
    line-height:1em;
    padding:0.5em 0;
}
.exhibit-page-nav li {
    display:inline;
    margin-bottom:0;
    padding:0.5em 0;
}
.exhibit-page-nav a {
    padding:0.5em 1em 0.5em;
}

#exhibit-page-navigation {
    clear:both;
    float:right;
}
#exhibit-page-navigation .next-page {
    margin-left:2em;
}


/* == Simple Pages styles == */
.page #primary {
    background-color: #fff;
    border-top: 10px solid;
    overflow: visible;
    padding: rhythm(1) 16px;
    @include box-shadow(rgba(0,0,0,.15) 0 0 10px);
    @include boxsizing(border-box);
    @include trailer(.75);
    *border-right: 1px solid #ccc;
    *border-left: 1px solid #ccc;
    *border-bottom: 1px solid #ccc;

    div {
        border-top: 0;
        @include box-shadow(transparent 0 0 0);
    }

    & > * { 
        padding: rhythm(.5) 0;
        margin: 0;
    }

}

.simple-pages-navigation {
    list-style:none;
}
.simple-pages-navigation ul {
    display:none;
}
.simple-pages-navigation .current ul {
    display:block;
}

.simple-pages-navigation a {
    text-decoration:none;
    border-bottom:1px solid #ddd;
    display:block;
    font-weight:bold;
    padding:4px;
}

#simple-pages-breadcrumbs {
    margin-bottom:0.5em;
    font-weight:bold;
}

/* Winter Styles */
.winter {

    body {
        background-color: $winter-footer-blue;
        color: $winter-dark-gray;
    }
    
    h1, #site-title a { color:#859ca2; }

    input[type=submit], button { background-color: $winter-slate; }

    input[type=text], input[type=password], textarea { background-color: $winter-light-gray; }

    a {
        &:link { color: $winter-bright-blue; }
        &:visited { color: $winter-pale-blue; }
        &:hover, &:active { color: $winter-hover-blue; }
    }
    
    header { background-color: #fff; }
    
    nav.top { 
        background-color: $winter-bright-blue; 
        
        li:hover a { color: #fff; }

        a:link, a:visited  { color: $winter-blue-on-pale-blue; }
        a:active, a:hover  { color: #fff; }
        
        ul li ul {
            background-color: $winter-bright-blue;
            li {
                & > a:link, & > a:visited, & > a:active, & > a:hover { color:#fff; }
            }
        }
    }

    #intro { color: #fff; }
    
    #content,
    #secondary-nav .current a,
    #secondary-nav a.current,
    .exhibit-section-nav .current a,
    .exhibit-page-nav .current a {
        background-color: $winter-pale-blue;
    }

    #home #content > div { 
        border-color: $winter-slate; 
        *border-width: 10px 1px 1px 1px;
        *border-style: solid;
        *border-color: #e8e8e8;
        *border-top-color: $winter-slate;
    }

    #primary {
        h1 { color: #fff; }
        
        h2 { border-color: $winter-light-gray; }

        div { border-color: $winter-title-blue; }
        
        & > div, #collection, #item-tags, #item-citation, #advanced-search-form > div { 
            border-color: $winter-slate;
            *border-width: 10px 1px 1px 1px;
            *border-style: solid;
            *border-color: #e8e8e8;
            *border-top-color: $winter-slate; 
        }
        
        .pagination_list { 
            background-color: $winter-bright-blue; 
            
            a:link, a:visited { color: $winter-blue-on-pale-blue; }
            a:hover, a:active { color: #fff; }
        }
        
        .items-nav {
            a:link, a:visited { color: $winter-blue-on-pale-blue; }
            a:hover, a:active { color: #fff; }
        }
        
        .item-img { border-color: $winter-light-gray; }
    }

    #search-results th { background-color: $winter-slate; }

    #search-filters {
        li { background-color: $winter-blue-on-pale-blue; }
    }

    .page #primary { 
        border-color: $winter-slate; 
        *border-width: 10px 1px 1px 1px;
        *border-style: solid;
        *border-color: #e8e8e8;
        *border-top-color: $winter-slate;
    }

    footer {
        background-color: $winter-footer-blue;
    }

    footer p {
        color:#fff;
    }

} 

/*Summer Styles*/
.spring {

    body {
        background-color: $spring-dark-green;
        color: $spring-brown;
    }
    
    h1, #site-title a { color: $spring-dark-green; }

    input[type=submit], button, .button {  background-color: $spring-red; }

    input[type=text], input[type=password], textarea { 
        background-color: #fff; 
        border: 1px solid #e8e8e8;
    }

    a {
        &:link { color: $spring-link; }
        &:visited { color: $spring-visited; }
        &:hover, &:active { color: $spring-active; }
    }

    header { background-color: $spring-light-green; }
    
    nav.top { 
        background-color: $spring-green; 

        li:hover a { color: #fff; }
        
        a:link, a:visited  { color: $spring-light-green; }
        a:active, a:hover  { color: $spring-white; }
        
        ul li ul {
            background-color: $spring-green;
            li {
                & > a:link, & > a:visited { color: $spring-light-green; }
                & > a:active, & > a:hover, &:hover > a { color:#fff; }
            }
        }
    }
    
    #intro { color: $spring-link; }

    #content,
    #secondary-nav .current a,
    #secondary-nav a.current,
    .exhibit-section-nav .current a,
    .exhibit-page-nav .current a {
        background-color: $spring-white;
    }

    #home #content > div { 
        border-color: $spring-red; 
        *border-width: 10px 1px 1px 1px;
        *border-style: solid;
        *border-color: #e8e8e8;
        *border-top-color: $spring-red;
    }

    #primary {
        h1 { color: $spring-link; }
        
        h2 { border-color: #e8e8e8; }

        & > div, #collection, #item-tags, #item-citation, #advanced-search-form > div { 
            border-color: $spring-red; 
            *border-width: 10px 1px 1px 1px;
            *border-style: solid;
            *border-color: #e8e8e8;
            *border-top-color: $spring-red;
        }

        .pagination_list { 
            background-color: $spring-red; 
            
            a:link, a:visited { color: $spring-yellow; }
            a:hover, a:active { color: #fff; }
        }
        
        .items-nav {
            a:link, a:visited { color: $spring-green; }
            a:active, a:hover { color: $spring-hover-green; }
        }
        
        .item-img { border-color: #e8e8e8; }
    }

    #search-results th { background-color: $spring-red; }

    #search-filters {
        li { background-color: $spring-yellow; }
    }
    
    .page #primary { 
        border-color: $spring-red; 
        *border-width: 10px 1px 1px 1px;
        *border-style: solid;
        *border-color: #e8e8e8;
        *border-top-color: $spring-red;
    }

    footer {
        background-color: $spring-dark-green;
    }

    footer p {
        color:#000;
    }

} 

/*Summer Styles*/
.summer {

    body {
        background-color: $summer-dark-blue;
        color: $summer-gray;
    }
    
    h1, #site-title a { color: $summer-title-blue; }

    input[type=submit], button, .button { background-color: $summer-blue; }

    input[type=text], input[type=password], textarea { background-color: $summer-light-blue; }

    a {
        &:link { color: $summer-link-red; }
        &:visited { color: $summer-visited-red; }
        &:hover, &:active { color: $summer-active-red; }
    }

    header { background-color: #fff; }
    
    nav.top { 
        background-color: $summer-yellow; 

        li:hover a { color: $summer-dark-blue; }
        
        a:link, a:visited  { color: $summer-title-blue; }
        a:active, a:hover  { color: $summer-dark-blue; }
        
        ul li ul {
            background-color: $summer-yellow;
            li {
                & > a:link, & > a:visited { color: $summer-title-blue; }
                & > a:active, & > a:hover, &:hover > a { color: $summer-dark-blue; }
            }
        }
    }
    
    #intro { color: $summer-link-red; }

    #content,
    #secondary-nav .current a,
    #secondary-nav a.current,
    .exhibit-section-nav .current a,
    .exhibit-page-nav .current a {
        background-color: $summer-light-yellow;
    }

    #home #content > div { 
        border-color: $summer-blue; 
        *border-width: 10px 1px 1px 1px;
        *border-style: solid;
        *border-color: #e8e8e8;
        *border-top-color: $summer-blue;
    }

    #primary {
        h1 { color: $summer-link-red; }
        
        h2 { border-color: $summer-light-red; }

        & > div, #collection, #item-tags, #item-citation, #advanced-search-form > div { 
            border-color: $summer-blue; 
            *border-width: 10px 1px 1px 1px;
            *border-style: solid;
            *border-color: #e8e8e8;
            *border-top-color: $summer-blue;
        }

        .pagination_list { 
            background-color: $summer-blue; 
            
            a:link, a:visited { color: $summer-light-blue; }
            a:hover, a:active { color: #fff; }
        }
        
        .items-nav {
            a:link, a:visited { color: $summer-link-red; }
            a:active, a:hover { color: $summer-active-red; }
        }
        
        .item-img { border-color: $summer-light-blue; }
    }

    #search-results th { background-color: $summer-blue; }

    #search-filters {
        li { background-color: #fff; }
    }
    
    .page #primary { 
        border-color: $summer-blue; 
        *border-width: 10px 1px 1px 1px;
        *border-style: solid;
        *border-color: #e8e8e8;
        *border-top-color: $summer-blue;
    }

    footer {
        background-color: $summer-dark-blue;
    }

    footer p {
        color:#fff;
    }

} 

/*Autumn Styles*/
.autumn {

    body {
        background-color: $autumn-dark-red;
        color: $autumn-dark-red;
    }
    
    h1, #site-title a { color: $autumn-beige; }

    input[type=submit], button, .button { background-color: $autumn-dark-red; }

    input[type=text], input[type=password], textarea { background-color: $autumn-beige; }

    a {
        &:link { color: $autumn-link; }
        &:visited { color: $autumn-visited; }
        &:hover, &:active { color: $autumn-active; }
    }

    header { background-color: $autumn-red; }
    
    nav.top { 
        background-color: $autumn-dark-beige; 

        li:hover a { color: #fff; }
        
        a:link, a:visited  { color: $autumn-nav-link; }
        a:active, a:hover  { color: #fff; }
        
        ul li ul {
            background-color: $autumn-dark-beige;
            li {
                & > a:link, & > a:visited { color: $autumn-nav-link; }
                & > a:active, & > a:hover, &:hover > a { color:#fff; }
            }
        }
    }
    
    #intro { color: $autumn-brown; }

    #content,
    #secondary-nav .current a,
    #secondary-nav a.current,
    .exhibit-section-nav .current a,
    .exhibit-page-nav .current a {
        background-color: $autumn-beige;
    }

    #home #content > div { 
        border-color: $autumn-dark-beige; 
        *border-width: 10px 1px 1px 1px;
        *border-style: solid;
        *border-color: #e8e8e8;
        *border-top-color: $autumn-dark-beige;
    }

    #primary {
        h1 { color: $autumn-brown; }
        
        h2 { border-color: $autumn-gray; }

        & > div, #collection, #item-tags, #item-citation, #advanced-search-form > div { 
            border-color: $autumn-dark-beige; 
            *border-width: 10px 1px 1px 1px;
            *border-style: solid;
            *border-color: #e8e8e8;
            *border-top-color: $autumn-dark-beige;
        }

        .pagination_list { 
            background-color: $autumn-dark-red; 
            
            a:link, a:visited { color: $autumn-dark-beige; }
            a:hover, a:active { color: #fff; }
        }

        .item-img { border-color: $autumn-gray; }
    }

    #search-results th { background-color: $autumn-dark-beige; }

    #search-filters {
        li { background-color: #fff; }
    }
    
    .page #primary { 
        border-color: $autumn-dark-beige; 
        *border-width: 10px 1px 1px 1px;
        *border-style: solid;
        *border-color: #e8e8e8;
        *border-top-color: $autumn-dark-beige;
    }

    footer {
        background-color: $autumn-dark-red;
    }

    footer p {
        color:#fff;
    }

} 