@import "base";

// screen --------------------------------------------------------------------
@media screen {
  @import "media/screen";
}

// 480px ---------------------------------------------------------------------
/* @media screen and (min-width: 480px) {
  @import "media/screen_480";
} */

// 768px  --------------------------------------------------------------------
@media screen and (min-width: 768px) {
  @import "media/screen_768";
}

/* // 992px ---------------------------------------------------------------------
@media screen and (min-width: 992px) {
  @import "media/screen_992";
} */

// print ---------------------------------------------------------------------
@media print {
  @import "media/print";
}
